<section class="content">
    <div class="container-fluid">
        <!-- Example -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Time Table Entry</strong>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row clearfix">
                            <!-- Colorful Panel Items With Icon -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="body">
                                        <div class="row clearfix">
                                            <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                                                <div class="panel-group" id="accordion_17" role="tablist" aria-multiselectable="true">
                                                    <div class="panel panel-col-teal">
                                                        <div class="panel-heading" role="tab" id="headingFour_17">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_17"
                                                                    href="#collapseFour_17" aria-expanded="false" aria-controls="collapseFour_17">
                                                                    Division Subject
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseFour_17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour_17">
                                                            <div class="panel-body">
                                                                <!--///-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-col-cyan">
                                                        <div class="panel-heading" role="tab" id="headingTwo_17">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_17"
                                                                    href="#collapseTwo_17" aria-controls="collapseTwo_17">Class Section Subject
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseTwo_17" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo_17">
                                                            <div class="panel-body">
                                                                    <div class="table-responsive">
                                                                            <table id="tableExport"
                                                                            class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                                                             
                                                                               <tbody>
                                                                                   <tr *ngFor="let feetype of feetypes?.response; let i=index">
                                                                                       <td>{{i +1 }}</td>
                                                                                       <td>{{feetype?.feetype}}</td>
                                                                                       <!-- <td>
                                                                                           <div class="btn btn-tbl-edit" data-toggle="modal"
                                                                                           data-target="#editModal">
                                                                                                   <i class="material-icons"
                                                                                                   (click)="onEdit(feetype) ">create</i>
                                                                                           </div>
                                                                                              
                                                                                           </td> -->
                                                                                   </tr>
                                                                               </tbody>
                                                                           </table>
                                                                       </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel panel-col-grey">
                                                        <div class="panel-heading" role="tab" id="headingThree_17">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion_17"
                                                                    href="#collapseThree_17" aria-controls="collapseThree_17">OE/CBCE Subject
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseThree_17" class="panel-collapse collapse" role="tabpanel"
                                                            aria-labelledby="headingThree_17">
                                                            <div class="panel-body">
                                                                <!--/////-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- #END# Colorful Panel Items With Icon -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>