<section class="content">
  <div class="container-fluid">
    <!-- Table Start-->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Admission Type</strong>
            </h2>
            <div class="header-dropdown m-r--5">
              <!-- Add button -->
              <div class="btn-group m-l-15">
                <button id="addRow" class="btn btn-info" data-toggle="modal" data-target="#addModal">
                  Add New
                  <i class="fa fa-plus" style="color: white"></i>
                </button>
              </div>
              <!-- Add button -->
            </div>
          </div>
          <div class="body">
            <div class="table-responsive">
              <table id="tableExport"
                class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Institution</th>
                    <th>Admission Type</th>
                    <th>ID</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <div class='btn btn-tbl-delete'><i class='material-icons'>delete</i></div>
                                  <tr *ngFor="let admissionType of admissiontypes; let i=index">
                                  <div class="btn btn-tbl-delete">
                                    <i class="material-icons" (click)="deleteAdmissiontype(admissionType?._id)">delete</i>
                                  </div>
                                </tr> -->
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Table End -->
  </div>
</section>
<!-- Add form -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModal">Add Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm" id="registerForm" (ngSubmit)="onAddSubmit()">
          <div class="row clearfix">
            <div class="col-md-12 form-group">
              <label>Institution</label>
              <div class="form-line">
                <select id="institution"name="institution" class="browser-default form-control"
                  formControlName="institution" placeholder="Choose your institution" required>
                  <option [value]="" disabled selected>Choose your institution</option>
                  <option *ngFor="let institution of institutions" [value]="institution._id">
                    {{institution.institution_name}}</option>
                </select>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-md-12">
                <div class="form-group form-float">
                    <label for="admissiontype">Admission Type</label>
                    <div class="form-line">
                        <input formControlName="admissiontype" id="admissiontype" name="admissiontype" type="text"
                        [value]=""   class="form-control" placeholder="Enter admission-type" required />
                    </div>
                </div>

            </div>
        </div>


          <div class="modal-footer">
            <button type="submit" class="btn btn-default" id="btn_add"> Add</button>
            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Edit Form -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModal">Edit Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editForm" id="editForm" (ngSubmit)="onEditSubmit()">
          <div class="row clearfix">
            <div class="col-md-12 form-group">
              <label>Institution</label>
              <div class="form-line">
                <select id="institutions2" name="institution2" class="browser-default form-control"
                  formControlName="institution2"  required>
                  <option value="" disabled selected>Choose your institution</option>
                  <option *ngFor="let institution of institutions" [value]="institution._id">
                    {{institution.institution_name}}</option>
                </select>
              </div>

            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
                <div class="form-group form-float">
                    <label for="admissiontype2">Admission Type</label>
                    <div class="form-line">
                        <input formControlName="admissiontype2" id="admissiontypes2" name="admissiontype2" type="text"
                           value="" class="form-control" placeholder="Enter admission-type" required />
                    </div>
                </div>
                <label id="ID"></label>
            </div>
        </div>



          <div class="modal-footer">
            <button type="submit" class="btn btn-default" id="btn_edit">Update</button>
            <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
