<section class="content">
    <div class="container-fluid">
        <!-- Table Start-->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Admission Type</strong>
                        </h2>
                        <div class="header-dropdown m-r--5">
                            <!-- Add button -->
                            <div class="btn-group m-l-15">
                                <button id="addRow" class="btn btn-info" data-toggle="modal" data-target="#addModal">
                                    Add New
                                    <i class="fa fa-plus" style="color: white"></i>
                                </button>
                            </div>
                            <!-- Add button -->
                        </div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="tableExport"
                                class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Institution</th>
                                        <th>Admission Type</th>
                                        <th>Action</th> 
                                    </tr>
                                </thead>
                                <!-- <tbody>
                                    <tr *ngFor="let admissiontype of admissiontypes; let i=index">
                                        <td>{{i +1 }}</td>
                                        <td>{{admissiontype?.InstitutionDetails[0].institution_name}}</td>
                                        <td>{{admissiontype?.admissiontype}}</td>
                                         <td>
                                            <div class="btn btn-tbl-edit" data-toggle="modal" data-target="#editModal">
                                                <i class="material-icons" (click)="onEdit(admissiontype) ">create</i>
                                            </div>
                                            <div class="btn btn-tbl-delete">
                                                <i class="material-icons"
                                                    (click)="deleteAdmissiontype(admissiontype?._id)">delete</i>
                                            </div>
                                        </td> 
                                    </tr>
                                </tbody>  -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table End -->
    </div>
</section>
<!-- Add form -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Add Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="registerForm" id="add" (ngSubmit)="onAddSubmit()">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <label>Institution</label>
                            <select id="select" [(ngModel)]="selectedinstitution" class="browser-default form-control"
                                formControlName="institution"
                                [ngClass]="{ 'is-invalid': submitted && f.institution.errors }"
                                placeholder="Choose your institution">
                                <option disabled selected>Choose your institution</option>
                                <option *ngFor="let institution of institutions" [value]="institution._id">
                                    {{institution.institution_name}}</option>
                            </select>

                            <div *ngIf="submitted && f.institution.errors" class="invalid-feedback">
                                <div *ngIf="f.institution.errors.required">Institution is required</div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <label>Admission Type</label>
                        <input type="text" formControlName="admissiontype" class="form-control"
                            placeholder="Enter admission-type"
                            [ngClass]="{ 'is-invalid': submitted && f.admissiontype.errors }" />
                        <div *ngIf="submitted && f.admissiontype.errors" class="invalid-feedback">
                            <div *ngIf="f.admissiontype.errors.required">Admission-type is required</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Add</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit Form -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Edit Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <label>Institution</label>
                            <select id="select" [(ngModel)]="selectedinstitution" class="browser-default form-control"
                                formControlName="institution"
                                [ngClass]="{ 'is-invalid': submitted && f.institution.errors }">
                                <option disabled selected>Choose your institution</option>
                                <option *ngFor="let institution of institutions" [value]="institution._id">
                                    {{institution.institution_name}}</option>
                            </select>

                            <div *ngIf="submitted && f.institution.errors" class="invalid-feedback">
                                <div *ngIf="f.institution.errors.required">Institution is required</div>
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="form-group">
                        <label>Admission Type</label>
                        <input type="text" formControlName="admissiontype" class="form-control"
                            placeholder="Enter admission-type"
                            [ngClass]="{ 'is-invalid': submitted && f.admissiontype.errors }" />
                        <div *ngIf="submitted && f.admissiontype.errors" class="invalid-feedback">
                            <div *ngIf="f.admissiontype.errors.required">Admission-type is required</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Update</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>