<section class="content">
    <div class="container-fluid">
        <!-- Table Start-->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Vehicle Expenses Entry</strong>
                        </h2>
                    <div class="header-dropdown m-r--5">
                        <!-- Add button -->
                        <div class="btn-group m-l-15">
                            <button id="addRow" class="btn btn-info" data-toggle="modal"
                                data-target="#addExpensesModal">
                                Add New
                                <i class="fa fa-plus" style="color: white"></i>
                            </button>
                        </div>
                        <!-- Add button -->
                    </div>
                </div>
                <!-- <div class="col-lg-3 header-dropdown m-r--5">
                        <div class="form-line input-field">
                            <input class="form-control" type="date" name="search" [(ngModel)]="filter"
                                placeholder="Search" (change)="onDateChange($event.target.value)">
                        </div>
                    </div> -->
                    <div class="col-md-3">
                            <input id="select" type="text" name="search" [(ngModel)]="filter"
                            placeholder="Search" (change)="onDateChange($event.target.value)">
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="tableExport"
                                class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>VNO</th>
                                        <th>Expenses</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Notes</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let expenseEntry of expensesEntry; let i=index">
                                        <td>{{i +1 }}</td>
                                        <td>{{expenseEntry.VehicleDetails[0].vehicleNo}}</td>
                                        <td>{{expenseEntry.ExpenseDetails[0].expense}}</td>
                                        <td>{{expenseEntry?.date}}</td>
                                        <td>{{expenseEntry?.amount}}</td>
                                        <td>{{expenseEntry?.notes}}</td>
                                        <td>
                                            <div class="btn btn-tbl-edit" data-toggle="modal"
                                                data-target="#editExpensesModal">
                                                <i class="material-icons"
                                                    (click)="onEditExpense(expenseEntry?._id) ">create</i>
                                            </div>
                                            <div class="btn btn-tbl-delete">
                                                <i class="material-icons"
                                                    (click)="deleteExpense(expenseEntry?._id)">delete</i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Table End -->
    </div>
</section>
<!-- Add Expenses form -->
<div class="modal fade" id="addExpensesModal" tabindex="-1" role="dialog" aria-labelledby="expenses1formModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="expenses1formModal">Add Vehicle Expenses</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addExpensesForm" (ngSubmit)="onAddExpenses()">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Vehicle</label>
                            <select id="select" name="vehicleNo" [(ngModel)]="selectedvehicleNo"
                                class="browser-default form-control" formControlName="vehicleNo"
                                [ngClass]="{ 'is-invalid': submitted && f.vehicleNo.errors }">
                                <option>Choose your Vehicle No</option>
                                <option *ngFor="let vehicle of vehicles" [value]="vehicle._id">
                                    {{vehicle?.vehicleNo}}</option>
                            </select>
                            <div *ngIf="submitted && f.vehicleNo.errors" class="invalid-feedback">
                                <div *ngIf="f.vehicleNo.errors.required">Vehicle is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Expenses</label>
                            <select class="browser-default" id="select" formControlName="expense" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.expense.errors }">
                                <option>Choose your Expenses</option>
                                <option *ngFor="let expense of expenses?.response" [value]="expense._id">
                                    {{expense?.expense}}</option>
                            </select>
                            <div *ngIf="submitted && f.expense.errors" class="invalid-feedback">
                                <div *ngIf="f.expense.errors.required">Expenses is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Date</label>
                            <input type="date" value="" formControlName="date" class="form-control"
                                placeholder="Enter Date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                            <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                <div *ngIf="f.date.errors.required">Date is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="text" value="" formControlName="amount" class="form-control"
                                placeholder="Enter Amount" [ngClass]="{ 'is-invalid': submitted && f.amount.errors }" />
                            <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
                                <div *ngIf="f.amount.errors.required">Amount is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Notes</label>
                            <input type="text" value="" formControlName="notes" class="form-control"
                                placeholder="Enter Notes" [ngClass]="{ 'is-invalid': submitted && f.notes.errors }" />
                            <div *ngIf="submitted && f.notes.errors" class="invalid-feedback">
                                <div *ngIf="f.notes.errors.required">Notes is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Add</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add Expenses form -->
<!-- Edit Expenses form -->
<div class="modal fade" id="editExpensesModal" tabindex="-1" role="dialog" aria-labelledby="expenses2formModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="expenses2formModal">Edit Vehicle Expenses</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editExpensesForm" (ngSubmit)="onEditExpenses()">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Vehicle</label>
                            <select id="select" name="vehicleNo" [(ngModel)]="selectedvehicleNo"
                                class="browser-default form-control" formControlName="vehicleNo"
                                [ngClass]="{ 'is-invalid': submitted && f2.vehicleNo.errors }">
                                <option>Choose your Vehicle No</option>
                                <option *ngFor="let vehicle of vehicles" [value]="vehicle._id">
                                    {{vehicle?.vehicleNo}}</option>
                            </select>
                            <div *ngIf="submitted && f2.vehicleNo.errors" class="invalid-feedback">
                                <div *ngIf="f2.vehicleNo.errors.required">Vehicle is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Expenses</label>
                            <select class="browser-default" id="select" formControlName="expense" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f2.expense.errors }">
                                <option>Choose your Expenses</option>
                                <option *ngFor="let expense of expenses?.response" [value]="expense._id">
                                    {{expense?.expense}}</option>
                            </select>
                            <div *ngIf="submitted && f2.expense.errors" class="invalid-feedback">
                                <div *ngIf="f2.expense.errors.required">Expenses is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Date</label>
                            <input type="date" value="" formControlName="date" class="form-control"
                                placeholder="Enter Date" [ngClass]="{ 'is-invalid': submitted && f2.date.errors }" />
                            <div *ngIf="submitted && f2.date.errors" class="invalid-feedback">
                                <div *ngIf="f2.date.errors.required">Date is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="text" value="" formControlName="amount" class="form-control"
                                placeholder="Enter Amount"
                                [ngClass]="{ 'is-invalid': submitted && f2.amount.errors }" />
                            <div *ngIf="submitted && f2.amount.errors" class="invalid-feedback">
                                <div *ngIf="f2.amount.errors.required">Amount is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Notes</label>
                            <input type="text" value="" formControlName="notes" class="form-control"
                                placeholder="Enter Notes" [ngClass]="{ 'is-invalid': submitted && f2.notes.errors }" />
                            <div *ngIf="submitted && f2.notes.errors" class="invalid-feedback">
                                <div *ngIf="f2.notes.errors.required">Notes is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Update</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit Expenses form -->
