<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Academic Year</strong>
                        </h2>
                        <div class="header-dropdown m-r--5">
                            <div class="btn-group m-l-15">
                                <button id="addRow" class="btn btn-info" data-toggle="modal" data-target="#addModal">
                                    Add New
                                    <i class="fa fa-plus" style="color: white"></i>
                                </button>
                                <div class="modal fade" id="addModal" tabindex="-1" role="dialog"
                                aria-labelledby="formModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="formModal">Add Details</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                               <form [formGroup]="registerForm" (ngSubmit) = "onAddSubmit()"  >
                               <div class="row">
                                <div class="col-md-6">
                                   <div class="form-group">
                                       <label>Year</label>
                                       <input type="text" value = "" formControlName="year" class="form-control" placeholder="Enter year"
                                           [ngClass]="{ 'is-invalid': submitted && f.year.errors }" />
                                       <div *ngIf="submitted && f.year.errors" class="invalid-feedback">
                                           <div *ngIf="f.year.errors.required">Year is required</div>
                                       </div>
                                   </div>
                               </div>
                                   <div class="col-md-6">
                                   <div class="form-group">
                                       <label>Short Code</label>
                                       <input type="text" value = "" formControlName="short_code" class="form-control" placeholder="Enter ShortCode"
                                           [ngClass]="{ 'is-invalid': submitted && f.short_code.errors }" />
                                       <div *ngIf="submitted && f.short_code.errors" class="invalid-feedback">
                                           <div *ngIf="f.short_code.errors.required">Short Code is required</div>
                                       </div>
                                   </div>
                               </div>
                               </div>
                               <div class="row">
                                       <div class="col-md-6">
                                   <div class="form-group">
                                       <label>Start Date</label>
                                       <input type="date" value = "" formControlName="start_date" class="form-control"  placeholder="Enter StarDate"
                                           [ngClass]="{ 'is-invalid': submitted && f.start_date.errors }" />
                                       <div *ngIf="submitted && f.start_date.errors" class="invalid-feedback">
                                           <div *ngIf="f.start_date.errors.required">StartDate is required</div>
                                       </div>
                                   </div>
                                       </div>
                                       <div class="col-md-6">
                                   <div class="form-group">
                                       <label>End Date</label>
                                       <input type="date" value = "" formControlName="end_date" class="form-control" placeholder="Enter EndDate"
                                           [ngClass]="{ 'is-invalid': submitted && f.end_date.errors }" />
                                       <div *ngIf="submitted && f.end_date.errors" class="invalid-feedback">
                                           <div *ngIf="f.end_date.errors.required">EndDate is required</div>
                                       </div>
                                   </div>
                               </div>
                                   </div>
                                   <div class="form-group">
                                           <label>Status</label>
                                           <select class="browser-default"
                                           formControlName="status" value = " " class="form-control" placeholder="Enter Status"
                                               [ngClass]="{ 'is-invalid': submitted && f.status.errors }" >

                                           <option  disabled selected>Choose your option
                                           </option>
                                           <option value="active">Active</option>
                                           <option value="inactive">Inactive</option>
                                       </select>
                                       <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                                        <div *ngIf="f.status.errors.required">Status is required</div>
                                    </div>
                                       </div>
                                   <div class="modal-footer">
                                       <button type="submit" class="btn btn-default"  >Add</button >
                                           <button type="button" class="btn btn-danger waves-effect"
                                               data-dismiss="modal">Cancel</button>
                                       </div>
                               </form>
                               </div>
                               </div>
                               </div>
                               </div>
                                <!-- Edit form -->
                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                                    aria-labelledby="formModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="formModal">Edit Details</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form [formGroup]="editForm">
                                                    <div class="row">
                                                     <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Year</label>
                                                            <input type="text"  formControlName="year2" class="form-control" placeholder="Enter year"
                                                                [ngClass]="{ 'is-invalid': submitted && f2.year2.errors }" />
                                                            <div *ngIf="submitted && f2.year2.errors" class="invalid-feedback">
                                                                <div *ngIf="f2.year2.errors.required">Year is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Short Code</label>
                                                            <input type="text" formControlName="short_code2" class="form-control" placeholder="Enter ShortCode"
                                                                [ngClass]="{ 'is-invalid': submitted && f2.short_code2.errors }" />
                                                            <div *ngIf="submitted && f2.short_code2.errors" class="invalid-feedback">
                                                                <div *ngIf="f2.short_code2.errors.required">Short Code is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                    <div class="row">
                                                            <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Start Date</label>
                                                            <input type="date"  formControlName="start_date2" class="form-control"  placeholder="Enter StarDate"
                                                                [ngClass]="{ 'is-invalid': submitted && f2.start_date2.errors }" />
                                                            <div *ngIf="submitted && f2.start_date2.errors" class="invalid-feedback">
                                                                <div *ngIf="f2.start_date2.errors.required">StartDate is required</div>
                                                            </div>
                                                        </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>End Date</label>
                                                            <input type="date"  formControlName="end_date2" class="form-control" placeholder="Enter EndDate"
                                                                [ngClass]="{ 'is-invalid': submitted && f2.end_date2.errors }" />
                                                            <div *ngIf="submitted && f2.end_date2.errors" class="invalid-feedback">
                                                                <div *ngIf="f2.end_date2.errors.required">EndDate is required</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        </div>
                                                        <div class="form-group">
                                                                <label>Status</label>
                                                                <select class="browser-default"
                                                                formControlName="status2"  class="form-control" placeholder="Enter Status"
                                                                    [ngClass]="{ 'is-invalid': submitted && f2.status2.errors }" >

                                                                <option  disabled selected>Choose your option
                                                                </option>
                                                                <option value="active">Active</option>
                                                                <option value="inactive">Inactive</option>
                                                            </select>
                                                            <div *ngIf="submitted && f2.status2.errors" class="invalid-feedback">
                                                              <div *ngIf="f2.status2.errors.required">Status is required</div>
                                                          </div>
                                                            </div>
                                                    </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default"
                                                    (click)="onEditSubmit()" >Update</button>
                                                <button type="button" class="btn btn-danger waves-effect"
                                                    data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">


                            <table id="tableExport"
                                class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Year</th>
                                        <th>Short code</th>
                                        <th>Start date</th>
                                        <th>End date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let academicyear of academicyears?.response; let i=index">
                                        <td>{{i +1 }}</td>
                                        <td>{{academicyear?.year}}</td>
                                        <td>{{academicyear?.short_code}}</td>
                                        <td>{{academicyear?.start_date}}</td>
                                        <td>{{academicyear?.end_date}}</td>
                                        <td>{{academicyear?.status}}</td>

                                        <td>
                                            <div class="btn btn-tbl-edit" data-toggle="modal" data-target="#editModal">
                                                <i class="material-icons" (click)="onEdit(academicyear) ">create</i>
                                            </div>

                                            <div class="btn btn-tbl-delete">
                                                <i class="material-icons"
                                                    (click)="deleteAcademicYear(academicyear?._id)">delete_forever</i>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>
