<section class="content">
    <div class="container-fluid">

        <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Student Entry</h2>
                        </div>
                        <div class="body">
                            <form id="form_advanced_validation">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <label for="rollNo">RollNo.<span class="asterisk">*</span></label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="rollNo" placeholder="Enter RollNo"
                                                    [formControl]="rollNo" required />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="firstName">First Name<span class="asterisk">*</span></label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="firstName" placeholder="Enter First Name"
                                                    [formControl]="firstName" required />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="mobileNo">MobileNumber<span class="asterisk">*</span></label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="mobileNo"
                                                    placeholder="Enter Student MobileNumber" [formControl]="mobileNo" required/>
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="bloodGroup">Blood Group</label>
                                            <div class="form-line">
                                                <select id="bloodGroup" name="bloodGroup" 
                                                    class="browser-default form-control" [formControl]="bloodGroup" required>
                                                    <option value="">Choose your Blood Group</option>
                                                    <option *ngFor="let bloodgroup of bloodgroups?.response" [value]="bloodgroup._id">
                                                        {{bloodgroup?.bloodgroup}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <label for="regNo">RegNo.</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="regNo" placeholder="Enter RegNo"
                                                    [formControl]="regNo" required />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="lastName">Last Name<span class="asterisk">*</span></label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="lastName" placeholder="Enter Last Name"
                                                    [formControl]="lastName" required />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="emailId">Email Id<span class="asterisk">*</span></label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="emailId" placeholder="Enter Email Id"
                                                    [formControl]="emailId" required/>
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="maritalStatus">Marital Status</label>
                                            <div class="form-line">
                                                <select id="maritalStatus" name="maritalStatus"
                                                    class="browser-default form-control" [formControl]="maritalStatus">
                                                    <option value="">Choose your Marital Status</option>
                                                    <option *ngFor="let maritalstatus of maritalstatuses?.response"
                                                        [value]="maritalstatus._id">
                                                        {{maritalstatus?.maritalstatus}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Student Photo</label>
                                        <div class="col-sm-12">
                                            <img style="margin:0 auto" src="{{getfileLoc}}" width="100px">
                                        </div>
                                        <div class="form-group form-float">
                                            <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
                                            <button class="btn bg-indigo waves-effect" (click)="submit()">Upload Image</button>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="dob">Date Of Birth<span class="asterisk">*</span></label>
                                            <div class="form-line">
                                                <input type="date" class="form-control" name="dob" [formControl]="dob" required />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="gender">Gender<span class="asterisk">*</span></label>
                                            <div class="form-line">
                                                <select class="browser-default" id="gender" [formControl]="gender" name="gender"
                                                    class="form-control" required>
                                                    <option value="">Choose your Gender</option>
                                                    <option *ngFor="let gender of genders?.response" [value]="gender._id">
                                                        {{gender?.gender}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Parent Details</h2>
                        </div>
                        <div class="body">
                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <label for="ffirstName">Father's FirstName</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="ffirstName" placeholder="Enter Father's FirstName"
                                                    [formControl]="ffirstName" />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="foccupation">Father's Occupation</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="foccupation" placeholder="Enter Father's Occupation"
                                                    [formControl]="foccupation" />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="mfirstName">Mother's FirstName</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="mfirstName" placeholder="Enter Mother's FirstName"
                                                    [formControl]="mfirstName" />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="moccupation">Mother's Occupation</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="moccupation" placeholder="Enter Mother's Occupation"
                                                    [formControl]="moccupation" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <label for="flastName">Father's LastName</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="flastName" placeholder="Enter Father's LastName"
                                                    [formControl]="flastName" />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="fannualIncome">Father's AnnualIncome</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="fannualIncome" placeholder="Enter Father's AnnualIncome"
                                                    [formControl]="fannualIncome" />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="mlastName">Mother's LastName</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="mlastName" placeholder="Enter Mother's LastName"
                                                    [formControl]="mlastName" />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="mannualIncome">Mother's AnnualIncome</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="mannualIncome" placeholder="Enter Mother's AnnualIncome"
                                                    [formControl]="mannualIncome" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <label for="fmobileNo">Father's MobileNumber</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="fmobileNo" placeholder="Enter Father's MobileNumber"
                                                    [formControl]="fmobileNo" />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <div class="form-line">----------------------------------</div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="mmobileNo">Mother's MobileNumber</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="mmobileNo" placeholder="Enter Mother's MobileNumber"
                                                    [formControl]="mmobileNo" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <label for="nationality">Nationality</label>
                                            <select class="browser-default" 
                                                    [formControl]="nationality" class="form-control">
                                                    <option value="">Choose your Nationality</option>
                                                    <option *ngFor="let nationality of nationalities?.response"
                                                        [value]="nationality._id">
                                                        {{nationality?.nationality}}</option>
                                                </select>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="religion">Religion</label>
                                                <select class="browser-default"  [formControl]="religion"
                                                    class="form-control">
                                                    <option value="">Choose your Religion</option>
                                                    <option *ngFor="let religion of religions?.response" [value]="religion._id">
                                                        {{religion?.religion}}
                                                    </option>
                                                </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <label for="community">Community</label>
                                            <select class="browser-default"  [formControl]="community"
                                                class="form-control">
                                                <option value="">Choose your Community</option>
                                                <option *ngFor="let community of communities?.response" [value]="community._id">
                                                    {{community?.community}}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="caste">Caste</label>
                                            <select class="browser-default" [formControl]="caste" class="form-control">
                                                <option value=" ">Choose your Caste</option>
                                                <option *ngFor="let caste of castes?.response" [value]="caste._id">{{caste?.caste}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                        </div>
                        <div class="body">
                            <form id="form_advanced_validation2">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <label for="institution">Institution<span class="asterisk">*</span></label>
                                            <div class="form-line">
                                                <select class="browser-default form-control" id="select1" [formControl]="institution" name="institution"
                                                    (change)="onInstitutionChange($event.target.value)" required>
                                                    <option value="">Choose your Institution</option>
                                                    <option *ngFor="let institution of institutions" [value]="institution._id">
                                                        {{institution?.institution_name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label>Boarding<span class="asterisk">*</span></label>
                                            <div class="form-line">
                                                <select class="browser-default" id="boarding" [formControl]="boarding" class="form-control" required>
                                                    <option value="">Choose your BoardingType</option>
                                                    <option value="DayScholler">Day Scholar</option>
                                                    <option value="Hosteller"> Hosteller</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <label for="admissionCategory">Admission Category<span class="asterisk">*</span></label>
                                            <div class="form-line">
                                                <select class="browser-default" id="admissionCategory" [formControl]="admissionCategory"
                                                    class="form-control" required>
                                                    <option value="">Choose your AdmissionCategory</option>
                                                    <option *ngFor="let admissionCategory of admissioncategories?.response" [value]="admissionCategory._id">
                                                        {{admissionCategory?.admissionCategory}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    
                                        <div class="form-group form-float">
                                            <label for="boardingStartDate">Boarding Start Date</label>
                                            <div class="form-line">
                                                <input type="date" class="form-control" name="boardingStartDate" [formControl]="boardingStartDate" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <label for="admissionType">Admission Type<span class="asterisk">*</span></label>
                                            <div class="form-line">
                                                <select class="browser-default" id="admissionType" [formControl]="admissionType" class="form-control"
                                                    required>
                                                    <option value="">Choose your Admission Type</option>
                                                    <option *ngFor="let admissiontype of admissiontypes?.response" [value]="admissiontype._id">
                                                        {{admissiontype?.admissiontype}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label>Financial Category<span class="asterisk">*</span></label>
                                            <div class="form-line">
                                                <select class="browser-default" id="financialCategory" [formControl]="financialCategory"
                                                    class="form-control" required>
                                                    <option value="">Choose your Financial Category</option>
                                                    <option value="Self">Self</option>
                                                    <option value="Loan">Loan</option>
                                                    <option value="Sponsor">Sponsor</option>
                                                </select>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <label for="applicationNo">Application Number</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="applicationNo" placeholder="Enter Application Number"
                                                    [formControl]="applicationNo"  />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="admissionDate">Admission Date</label>
                                            <div class="form-line">
                                                <input type="date" class="form-control" name="admissionDate" placeholder="Enter Admisiion Date"
                                                    [formControl]="admissionDate"  />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="motherTongue">Mother Tongue</label>
                                            <div class="form-line">
                                                <select class="browser-default" [formControl]="motherTongue" class="form-control">
                                                    <option value="">Choose your MotherTongue</option>
                                                    <option *ngFor="let motherTongue of motherTongues?.response" [value]="motherTongue._id">
                                                        {{motherTongue?.motherTongue}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <label for="referalType">Reference Type</label>
                                                <select class="browser-default" [formControl]="referalType" 
                                                    class="form-control" >
                                                    <option value="">Choose your ReferralType</option>
                                                    <option *ngFor="let  referralType of referralTypes?.response" [value]="referralType._id">
                                                        {{referralType?.referralType}}</option>
                                                </select>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="admissionNo">Admission Number</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="admissionNo" placeholder="Enter Admission Number"
                                                    [formControl]="admissionNo" />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="secondLanguage">Second Language</label>
                                                <select class="browser-default"  [formControl]="secondLanguage" class="form-control">
                                                    <option value="">Choose your secondLanguage</option>
                                                    <option *ngFor="let motherTongue of secondLanguages?.response" [value]="motherTongue._id">
                                                        {{motherTongue?.motherTongue}}</option>
                                                </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-float">
                                            <label for="referal">Reference By</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="referal" placeholder="Enter Reference By"
                                                    [formControl]="referal" />
                                            </div>
                                        </div>
                                        <div class="form-group form-float">
                                            <label for="joinDate">Join Date</label>
                                            <div class="form-line">
                                                <input type="date" class="form-control" name="joinDate" [formControl]="joinDate"/>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-check m-l-10  m-t-25">
                                            <label class="form-check-label">
                                                <input [formControl]="firstGraduate" class="form-check-input" type="checkbox" 
                                                [(ngModel)]="isChecked" (change)="firstGraduate1(isChecked?'Yes':'No')">
                                                First Graduate Student
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check m-l-10  m-t-25">
                                            <label class="form-check-label">
                                                <input [formControl]="parentExServiceMan" class="form-check-input" type="checkbox" 
                                                [(ngModel)]="isChecked1" (change)="parentExServiceMan1(isChecked1?'Yes':'No')">
                                                Parent Ex-Service Man
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check m-l-10  m-t-25">
                                            <label class="form-check-label">
                                                <input [formControl]="physicallyChallengedPerson" class="form-check-input" type="checkbox" 
                                                [(ngModel)]="isChecked2" (change)="physicallyChallengedPerson1(isChecked2?'Yes':'No')">
                                                Physically Challenged Person
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <div class="form-check m-l-10  m-t-25">
                                            <label class="form-check-label">
                                                <input [formControl]="scholarshipApplicable" class="form-check-input" type="checkbox" 
                                                [(ngModel)]="isChecked3" (change)="scholarshipApplicable1(isChecked3?'Yes':'No')">
                                                Scholarship Applicable
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check m-l-10  m-t-25">
                                            <label class="form-check-label">
                                                <input [formControl]="minoritygroup" class="form-check-input" type="checkbox" 
                                                [(ngModel)]="isChecked4" (change)="minoritygroup1(isChecked4?'Yes':'No')">
                                                Minority Group
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="form-check m-l-10  m-t-25">
                                            <label class="form-check-label">
                                                <input [formControl]="andhamanAndNicobarNative" class="form-check-input" type="checkbox" 
                                                [(ngModel)]="isChecked5" (change)="andhamanAndNicobarNative1(isChecked5?'Yes':'No')">
                                                Andaman & Nicobar Native
                                                <span class="form-check-sign">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="text-right">
                                    <button type="submit" class="btn btn-info waves-effect" (click)="addStudentDetails()">Add</button>
                                        <button type="button" class="btn btn-danger waves-effect" routerLink="/studentProfile">Back</button>
                                </div>
                        </div>
                    </div>
                </div>   
        </div>
    </div>
</section>
