<section class="content">
    <div class="container-fluid">
        <!-- Table Start-->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Subject Edit</strong>
                        </h2>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-md-3" *ngFor="let subject of subjects;let i=index">
                                <h6> Department :</h6><span>{{subject.departmentd[0].department}}</span>
                                <h6> CourseProgram :</h6><span>{{subject.courseprogramd[0].courseprogram}}</span>
                                <h6> Batch :</h6><span>{{subject.batchd[0].batch}}</span>
                                <h6> Academic Year :</h6><span>{{subject.academicYeard[0].year}}</span>
                                <h6> Semester :</h6><span>{{subject.semesterd[0].semester}}</span>
                            </div>
                            <div class="col-md-3" *ngFor="let subject of subjects;let i=index">
                                <h6> Subject Code :</h6><span>{{subject?.subjectCode}}</span>
                                <h6> Subject Description :</h6><span>{{subject?.subjectDescription}}</span>
                                <h6> Subject Type :</h6><span>{{subject.subjectTyped[0].subjectType}}</span>
                            </div>
                            <div class="col-md-3" *ngFor="let subject of subjects;let i=index">
                                <h6> subject Category :</h6><span>{{subject.subjectCategoryd[0].subjectCategory}}</span>
                                <h6> Subject Classification :</h6>
                                <span>{{subject.subjectClassificationd[0].subjectClassification}}</span>
                                <h6> Topic Coverage :</h6><span>{{subject.topicCoveraged[0].topicCoverage}}</span>
                            </div>
                            <div class="col-md-3" *ngFor="let subject of subjects;let i=index">
                                <h6>Mark Definition :</h6><span>{{subject?.markDefinitiond[0].code}}</span>
                                <h6>Abbreviation :</h6><span>{{subject?.abbreviation}}</span>
                                <h6>Effective From :</h6><span>{{subject?.effectiveFrom}}</span>
                                <h6>Effective To :</h6><span>{{subject?.effectiveTo}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <button type="button" class="btn btn-danger waves-effect"
                                    routerLink="/addSubject">Back</button>
                            </div>
                            <div class="col-md-9"></div>
                            <div class="col-md-1">
                                <div class="btn-group m-l-15">
                                    <button id="addRow" class="btn btn-info" data-toggle="modal"
                                        data-target="#editSubjectModal" (click)="onEdit()"> Edit </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    <strong>Subject Definition Details</strong>
                                </h2>
                            </div>

                            <div class="body">
                                <div class="row">
                                    <div class="col-md-4" *ngFor="let subject of subjects;let i=index">
                                        <h6> Minimum Mark :</h6><span>{{subject?.markDefinitiond[0].minMark}}</span>
                                        <h6> Maximum Mark :</h6><span>{{subject?.markDefinitiond[0].maxMark}}</span>
                                    </div>
                                    <div class="col-md-4" *ngFor="let internal of internalByMarkDef;let i=index">
                                        <h6> Internal Minimum Mark :</h6><span>{{internal?.minMark}}</span>
                                        <h6> External Maximum Mark :</h6><span>{{internal?.maxMark}}</span>
                                    </div>
                                    <div class="col-md-4" *ngFor="let external of externalByMarkDef;let i=index">
                                        <h6> External Minimum Mark :</h6><span>{{external?.minMark}}</span>
                                        <h6> External Maximum Mark :</h6><span>{{external?.maxMark}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    <strong>Subject Staff</strong>
                                </h2>
                                <div class="header-dropdown m-r--5">
                                    <!-- Add button -->
                                    <div class="btn-group m-l-15">
                                        <button id="addRow" class="btn  btn-info" data-toggle="modal"
                                            data-target="#addStaffModal">
                                            <i class="fa fa-plus" style="color: white"></i>
                                        </button>
                                    </div>
                                    <!-- Add button -->
                                </div>
                            </div>

                            <div class="body">
                                <div class="table-responsive">
                                    <table id="tableExport"
                                        class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Staff Name</th>
                                                <th>Department Name</th>
                                                <th>Effective From</th>
                                                <th>Effective To</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let subjectStaff of subjectstaffs; let i=index">
                                                <td>{{i +1 }}</td>
                                                <td>{{subjectStaff.staffdetails[0].firstName}}
                                                    {{subjectStaff?.staffdetails[0].lastName}}</td>
                                                <td>{{subjectStaff.institutiond[0].tagline}}
                                                    {{subjectStaff?.departmentd[0].department}}</td>
                                                <td>{{subjectStaff?.effectiveFrom}}</td>
                                                <td>{{subjectStaff?.effectiveTo}}</td>
                                                <td>
                                                    <div class="btn btn-tbl-edit" data-toggle="modal"
                                                        data-target="#editStaffModal">
                                                        <i class="material-icons"
                                                            (click)="onEditStaff(subjectStaff) ">create</i>
                                                    </div>
                                                    <div class="btn btn-tbl-delete">
                                                        <i class="material-icons"
                                                            (click)="onDeleteStaff(subjectStaff?._id)">delete</i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    <strong>Syllabus Unit</strong>
                                </h2>
                                <div class="header-dropdown m-r--5">
                                    <!-- Add button -->
                                    <div class="btn-group m-l-5">
                                        <button id="addRow" class="btn  btn-info" data-toggle="modal" data-target="#addSyllabusModal">
                                            <i class="fa fa-plus" style="color: white"></i>
                                        </button>
                                    </div>
                                    <!-- Add button -->
                                </div>
                            </div>

                            <div class="body">
                                <div class="table-responsive">
                                    <table id="tableExport"
                                        class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                        <thead>
                                            <tr>
                                                <th>Unit No</th>
                                                <th>Title</th>
                                                <th>Lecture Period</th>
                                                <th>Tutorial Period</th>
                                                <th>unit Description</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let subjectsyllabus of subjectSyllabuses">
                                                <td>{{subjectsyllabus?.unitNo}}</td>
                                                <td>{{subjectsyllabus?.title}}</td>
                                                <td>{{subjectsyllabus?.lecturePeriod}}</td>
                                                <td>{{subjectsyllabus?.tutorialPeriod}}</td>
                                                <td>{{subjectsyllabus?.unitDescription}}</td>
                                                <td>
                                                    <div class="btn btn-tbl-edit" data-toggle="modal"
                                                        data-target="#editSyllabusModal">
                                                        <i class="material-icons"
                                                            (click)="onEditSyllabus(subjectsyllabus) ">create</i>
                                                    </div>
                                                    <div class="btn btn-tbl-delete">
                                                        <i class="material-icons"
                                                            (click)="onDeleteSyllabus(subjectsyllabus?._id)">delete</i>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table End -->
    </div>
</section>


<!-- Edit form Subject-->
<div class="modal fade" id="editSubjectModal" tabindex="-1" role="dialog" aria-labelledby="formModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Edit Subject</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm" (ngSubmit)="onEditSubject()">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Department<span class="asterisk">*</span></label>
                                <select class="browser-default form-control" formControlName="department"
                                    [ngClass]="{ 'is-invalid': submitted && f.department.errors }">
                                    <option>Choose your Department</option>
                                    <option *ngFor="let department of departmentByIns?.response"
                                        [value]="department._id">
                                        {{department?.department}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
                                    <div *ngIf="f.department.errors.required">Department is required</div>
                                </div>
                            </div>
                            <div class="form-group form-float">
                                    <label>Batch<span class="asterisk">*</span></label>
                                    <div class="form-line">
                                        <select class="browser-default" formControlName="batch" name="batch" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.batch.errors }"
                                            (change)="onBatchChange($event.target.value)">
                                            <option value="">Choose your Batch</option>
                                            <option *ngFor="let batch of batcheBycourseprograms?.response" [value]="batch._id">{{batch?.batch}}
                                            </option>
                                        </select>
                                        <div *ngIf="submitted && f.batch.errors" class="invalid-feedback">
                                            <div *ngIf="f.batch.errors.required">Batch is required</div>
                                        </div>
                                    </div>
                                </div>
                            <div class="form-group">
                                <label for="semester">Semester<span class="asterisk">*</span></label>
                                <select class="browser-default form-control" name="semester"
                                    placeholder="Enter semester" formControlName="semester"
                                    [ngClass]="{ 'is-invalid': submitted && f.semester.errors }">
                                    <option>Choose your Semester</option>
                                    <option *ngFor="let semester of semestersByIns?.response" [value]="semester._id">
                                        {{semester?.semester}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.semester.errors" class="invalid-feedback">
                                    <div *ngIf="f.semester.errors.required">Semester is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subjectDescription">Subject Description<span
                                        class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="subjectDescription"
                                        placeholder="Enter subjectDescription" formControlName="subjectDescription"
                                        [ngClass]="{ 'is-invalid': submitted && f.subjectDescription.errors }" />
                                    <div *ngIf="submitted && f.subjectDescription.errors" class="invalid-feedback">
                                        <div *ngIf="f.subjectDescription.errors.required">Subject Description is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subjectClassification">Subject Classification<span
                                        class="asterisk">*</span></label>
                                <select class="browser-default form-control" name="subjectClassification"
                                    formControlName="subjectClassification"
                                    [ngClass]="{ 'is-invalid': submitted && f.subjectClassification.errors }">
                                    <option>Choose your subjectClassification</option>
                                    <option *ngFor="let subjectClassification of subjectclassifications"
                                        [value]="subjectClassification._id">
                                        {{subjectClassification?.subjectClassification}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.subjectClassification.errors" class="invalid-feedback">
                                    <div *ngIf="f.subjectClassification.errors.required">SubjectClassification is
                                        required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="abbreviation">Abbreviation<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="abbreviation"
                                        placeholder="Enter abbreviation" formControlName="abbreviation"
                                        [ngClass]="{ 'is-invalid': submitted && f.abbreviation.errors }" />
                                    <div *ngIf="submitted && f.abbreviation.errors" class="invalid-feedback">
                                        <div *ngIf="f.abbreviation.errors.required">Abbreviation is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="effectiveFrom">Effective Form<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="date" class="form-control" name="effectiveFrom"
                                        placeholder="Enter effectiveFrom" formControlName="effectiveFrom"
                                        [ngClass]="{ 'is-invalid': submitted && f.effectiveFrom.errors }" />
                                    <div *ngIf="submitted && f.effectiveFrom.errors" class="invalid-feedback">
                                        <div *ngIf="f.effectiveFrom.errors.required">Effective From is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="topicCoverage">Topic Coverage<span class="asterisk">*</span></label>
                                <select class="browser-default form-control" name="topicCoverage"
                                    placeholder="Enter topicCoverage" formControlName="topicCoverage"
                                    [ngClass]="{ 'is-invalid': submitted && f.topicCoverage.errors }">
                                    <option>Choose your TopicCoverage</option>
                                    <option *ngFor="let topicCoverage of topicCoverages" [value]="topicCoverage._id">
                                        {{topicCoverage?.topicCoverage}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.topicCoverage.errors" class="invalid-feedback">
                                    <div *ngIf="f.topicCoverage.errors.required">topicCoverage is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Course Program<span class="asterisk">*</span></label>
                                <select class="browser-default form-control" formControlName="courseprogram"
                                    name="courseprogram"
                                    [ngClass]="{ 'is-invalid': submitted && f.courseprogram.errors }">
                                    <option>Choose your Course Program</option>
                                    <option *ngFor="let courseprogram of courseprogrambyIns?.response"
                                        [value]="courseprogram._id">
                                        {{courseprogram.courseprogram}}</option>
                                </select>
                                <div *ngIf="submitted && f.courseprogram.errors" class="invalid-feedback">
                                    <div *ngIf="f.courseprogram.errors.required">Course Program is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Academic Year</label>
                                <select class="browser-default form-control" formControlName="academicYear"
                                    [ngClass]="{ 'is-invalid': submitted && f.academicYear.errors }">
                                    <option value="">Choose your Academic Year</option>
                                    <option *ngFor="let academicYear of academicyearByBatch" [value]="academicYear._id">
                                        {{academicYear.year}}</option>
                                </select>
                                <div *ngIf="submitted && f.academicYear.errors" class="invalid-feedback">
                                    <div *ngIf="f.academicYear.errors.required">Academic Year is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subjectCode">subject Code<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="subjectCode"
                                        placeholder="Enter subjectCode" formControlName="subjectCode"
                                        [ngClass]="{ 'is-invalid': submitted && f.subjectCode.errors }" />
                                    <div *ngIf="submitted && f.subjectCode.errors" class="invalid-feedback">
                                        <div *ngIf="f.subjectCode.errors.required">Subject Code is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subjectType">Subject Type<span class="asterisk">*</span></label>
                                <select class="browser-default form-control" name="subjectType"
                                    placeholder="Enter subjectType" formControlName="subjectType"
                                    [ngClass]="{ 'is-invalid': submitted && f.subjectType.errors }">
                                    <option>Choose your subjectType</option>
                                    <option *ngFor="let subjectType of subjectTypes" [value]="subjectType._id">
                                        {{subjectType?.subjectType}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.subjectType.errors" class="invalid-feedback">
                                    <div *ngIf="f.subjectType.errors.required">SubjectType is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subjectCategory">Subject Category<span class="asterisk">*</span></label>
                                <select class="browser-default form-control" name="subjectCategory"
                                    placeholder="Enter subjectCategory" formControlName="subjectCategory"
                                    [ngClass]="{ 'is-invalid': submitted && f.subjectCategory.errors }">
                                    <option>Choose your subjectCategory</option>
                                    <option *ngFor="let subjectCategory of subjectCategories"
                                        [value]="subjectCategory._id">
                                        {{subjectCategory?.subjectCategory}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.subjectCategory.errors" class="invalid-feedback">
                                    <div *ngIf="f.subjectCategory.errors.required">subjectCategory is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="markDefinition">Mark Definition<span class="asterisk">*</span></label>
                                <select class="browser-default form-control" name="markDefinition"
                                    placeholder="Enter markDefinition" formControlName="markDefinition"
                                    [ngClass]="{ 'is-invalid': submitted && f.markDefinition.errors }">
                                    <option>Choose your markDefinition</option>
                                    <option *ngFor="let markDefinition of markDefinitions" [value]="markDefinition._id">
                                        {{markDefinition?.code}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && f.markDefinition.errors" class="invalid-feedback">
                                    <div *ngIf="f.markDefinition.errors.required">markDefinition is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="effectiveTo">Effective To<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="date" class="form-control" name="effectiveTo"
                                        placeholder="Enter effectiveTo" formControlName="effectiveTo"
                                        [ngClass]="{ 'is-invalid': submitted && f.effectiveTo.errors }" />
                                    <div *ngIf="submitted && f.effectiveTo.errors" class="invalid-feedback">
                                        <div *ngIf="f.effectiveTo.errors.required">Effective To is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Lesson Plan Approval<span class="asterisk">*</span></label>
                                <select class="browser-default form-control" formControlName="lessonPlan"
                                    [ngClass]="{ 'is-invalid': submitted && f.lessonPlan.errors }">
                                    <option>Choose your LessonPlan</option>
                                    <option value="StudentDepartment">Student Department</option>
                                    <option value="StaffDepartment">Staff Department</option>
                                </select>
                                <div *ngIf="submitted && f.lessonPlan.errors" class="invalid-feedback">
                                    <div *ngIf="f.lessonPlan.errors.required">Lesson Plan Approval is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Update</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add form Subject-Staff-->
<div class="modal fade" id="addStaffModal" tabindex="-1" role="dialog" aria-labelledby="formModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Add Subject-Staff</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addStaffForm" (ngSubmit)="onAddSubjectStaff()">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Department<span class="asterisk">*</span></label>
                                <select class="browser-default form-control" formControlName="department"
                                    [ngClass]="{ 'is-invalid': submitted && a.department.errors }"
                                    (change)="onDepartmentChange($event.target.value)">
                                    <option>Choose your Department</option>
                                    <option *ngFor="let department of departmentByIns?.response" [value]="department._id">
                                        {{department?.department}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && a.department.errors" class="invalid-feedback">
                                    <div *ngIf="a.department.errors.required">Subject Code is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="effectiveFrom">Effective Form<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="date" class="form-control" name="effectiveFrom" placeholder="Enter effectiveFrom"
                                        formControlName="effectiveFrom" [ngClass]="{ 'is-invalid': submitted && a.effectiveFrom.errors }" />
                                    <div *ngIf="submitted && a.effectiveFrom.errors" class="invalid-feedback">
                                        <div *ngIf="a.effectiveFrom.errors.required">Effective From is required</div>
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Staff<span class="asterisk">*</span></label>
                                <select class="browser-default form-control" formControlName="staffName"
                                    [ngClass]="{ 'is-invalid': submitted && a.staffName.errors }">
                                    <option>Choose your staffName</option>
                                    <option *ngFor="let staffName of staffprofiles" [value]="staffName._id">
                                        {{staffName?.firstName}} {{staffName?.lastName}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && a.staffName.errors" class="invalid-feedback">
                                    <div *ngIf="a.staffName.errors.required">Subject Code is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="effectiveTo">Effective To<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="date" class="form-control" name="effectiveTo" placeholder="Enter effectiveTo"
                                        formControlName="effectiveTo" [ngClass]="{ 'is-invalid': submitted && a.effectiveTo.errors }" />
                                    <div *ngIf="submitted && a.effectiveTo.errors" class="invalid-feedback">
                                        <div *ngIf="a.effectiveTo.errors.required">Effective To is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Add</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit form Subject-Staff-->
<div class="modal fade" id="editStaffModal" tabindex="-1" role="dialog" aria-labelledby="formModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Edit Subject-staff</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editStaffForm" (ngSubmit)="onEditSubjectStaff()">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Department<span class="asterisk">*</span></label>
                                <select class="browser-default form-control" formControlName="department2"
                                    [ngClass]="{ 'is-invalid': submitted && a2.department2.errors }"
                                    (change)="onDepartmentChange($event.target.value)">
                                    <option>Choose your Department</option>
                                    <option *ngFor="let department of departmentByIns?.response" [value]="department._id">
                                        {{department?.department}}
                                    </option>
                                </select>
                                <div *ngIf="submitted && a2.department2.errors" class="invalid-feedback">
                                    <div *ngIf="a2.department2.errors.required">Subject Code is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="effectiveFrom2">Effective Form<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="date" class="form-control" name="effectiveFrom2" placeholder="Enter effectiveFrom"
                                        formControlName="effectiveFrom2" [ngClass]="{ 'is-invalid': submitted && a2.effectiveFrom2.errors }" />
                                    <div *ngIf="submitted && a2.effectiveFrom2.errors" class="invalid-feedback">
                                        <div *ngIf="a2.effectiveFrom2.errors.required">Effective From is required</div>
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Staff<span class="asterisk">*</span></label>
                                <select class="browser-default form-control" formControlName="staffName2"
                                    [ngClass]="{ 'is-invalid': submitted && a2.staffName2.errors }">
                                    <option>Choose your staffName</option>
                                    <option *ngFor="let staffName of staffprofiles" [value]="staffName._id">
                                            {{staffName?.firstName}} {{staffName?.lastName}}
                                        </option>
                                </select>
                                <div *ngIf="submitted && a2.staffName2.errors" class="invalid-feedback">
                                    <div *ngIf="a2.staffName2.errors.required">Subject Code is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="effectiveTo">Effective To<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="date" class="form-control" name="effectiveTo2" placeholder="Enter effectiveTo"
                                        formControlName="effectiveTo2" [ngClass]="{ 'is-invalid': submitted && a2.effectiveTo2.errors }" />
                                    <div *ngIf="submitted && a2.effectiveTo2.errors" class="invalid-feedback">
                                        <div *ngIf="a2.effectiveTo2.errors.required">Effective To is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Update</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add form Subject-Syllabus-->
<div class="modal fade" id="addSyllabusModal" tabindex="-1" role="dialog" aria-labelledby="formModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Add Syllabus Unit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addSyllabusForm" (ngSubmit)="onAddSubjectSyllabus()">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="unitNo">Unit No.<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="unitNo" placeholder="Enter unitNo"
                                        formControlName="unitNo" [ngClass]="{ 'is-invalid': submitted && e.unitNo.errors }" />
                                    <div *ngIf="submitted && e.unitNo.errors" class="invalid-feedback">
                                        <div *ngIf="e.unitNo.errors.required">Unit No is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lecturePeriod">Lecture Period<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="lecturePeriod" placeholder="Enter lecturePeriod"
                                        formControlName="lecturePeriod" [ngClass]="{ 'is-invalid': submitted && e.lecturePeriod.errors }" />
                                    <div *ngIf="submitted && e.lecturePeriod.errors" class="invalid-feedback">
                                        <div *ngIf="e.lecturePeriod.errors.required">Lecture Period is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="title">Title<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="title" placeholder="Enter title"
                                        formControlName="title" [ngClass]="{ 'is-invalid': submitted && e.title.errors }" />
                                    <div *ngIf="submitted && e.title.errors" class="invalid-feedback">
                                        <div *ngIf="e.title.errors.required">Title is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tutorialPeriod">Tutorial Period<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="tutorialPeriod" placeholder="Enter tutorialPeriod"
                                        formControlName="tutorialPeriod" [ngClass]="{ 'is-invalid': submitted && e.tutorialPeriod.errors }" />
                                    <div *ngIf="submitted && e.tutorialPeriod.errors" class="invalid-feedback">
                                        <div *ngIf="e.tutorialPeriod.errors.required">Tutorial Period is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="unitDescription">Unit Description<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <textarea type="text" class="form-control" name="unitDescription" placeholder="Enter unitDescription"
                                        formControlName="unitDescription" [ngClass]="{ 'is-invalid': submitted && e.unitDescription.errors }" ></textarea>
                                    <div *ngIf="submitted && e.unitDescription.errors" class="invalid-feedback">
                                        <div *ngIf="e.unitDescription.errors.required">Unit Description is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Add</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit form Subject-Syllabus-->
<div class="modal fade" id="editSyllabusModal" tabindex="-1" role="dialog" aria-labelledby="formModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Edit Syllabus Unit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editSyllabusForm" (ngSubmit)="onEditSubjectSyllabus()">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="unitNo2">Unit No.<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="unitNo2" placeholder="Enter unitNo"
                                        formControlName="unitNo2" [ngClass]="{ 'is-invalid': submitted && e2.unitNo2.errors }" />
                                    <div *ngIf="submitted && e2.unitNo2.errors" class="invalid-feedback">
                                        <div *ngIf="e2.unitNo2.errors.required">Unit No is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lecturePeriod2">Lecture Period<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="lecturePeriod2" placeholder="Enter lecturePeriod"
                                        formControlName="lecturePeriod2"
                                        [ngClass]="{ 'is-invalid': submitted && e2.lecturePeriod2.errors }" />
                                    <div *ngIf="submitted && e2.lecturePeriod2.errors" class="invalid-feedback">
                                        <div *ngIf="e2.lecturePeriod2.errors.required">Lecture Period is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="title2">Title<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="title2" placeholder="Enter title"
                                        formControlName="title2" [ngClass]="{ 'is-invalid': submitted && e2.title2.errors }" />
                                    <div *ngIf="submitted && e2.title2.errors" class="invalid-feedback">
                                        <div *ngIf="e2.title2.errors.required">Title is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tutorialPeriod2">Tutorial Period<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="tutorialPeriod2" placeholder="Enter tutorialPeriod"
                                        formControlName="tutorialPeriod2"
                                        [ngClass]="{ 'is-invalid': submitted && e2.tutorialPeriod2.errors }" />
                                    <div *ngIf="submitted && e2.tutorialPeriod2.errors" class="invalid-feedback">
                                        <div *ngIf="e2.tutorialPeriod2.errors.required">Tutorial Period is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="unitDescription2">Unit Description<span class="asterisk">*</span></label>
                                <div class="form-line">
                                    <textarea type="text" class="form-control" name="unitDescription2"
                                        placeholder="Enter unitDescription" formControlName="unitDescription2"
                                        [ngClass]="{ 'is-invalid': submitted && e2.unitDescription2.errors }"></textarea>
                                    <div *ngIf="submitted && e2.unitDescription2.errors" class="invalid-feedback">
                                        <div *ngIf="e2.unitDescription2.errors.required">Unit Description is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Update</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>