
<section class="content">
    <div class="container-fluid">
        <!-- Table Start-->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">       
                        <h2>
                            <strong>Payment Method</strong>
                        </h2>
                        <div class="header-dropdown m-r--5">
                            <!-- Add button -->
                                <div class="btn-group m-l-15">
                                        <button id="addRow" class="btn btn-info" data-toggle="modal"
                                        data-target="#addModal">
                                            Add New
                                            <i class="fa fa-plus" style="color: white"></i>  
                                        </button>
                                        <div class="modal fade" id="addModal" tabindex="-1" role="dialog"
                                        aria-labelledby="formModal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="formModal">Add PaymentMethod</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                       <form [formGroup]="registerForm" >
                                       <div class="row">
                                        <div class="col-md-6">
                                           <div class="form-group">
                                               <label>Payment Method</label> 
                                               <input type="text" value = "" formControlName="paymentMethod" class="form-control" placeholder="Enter paymentMethod"
                                                   [ngClass]="{ 'is-invalid': submitted && f.paymentMethod.errors }" />
                                               <div *ngIf="submitted && f.paymentMethod.errors" class="invalid-feedback">
                                                   <div *ngIf="f.paymentMethod.errors.required">Payment Method is required</div>
                                               </div>
                                           </div>
                                        </div>
                                       </div>
                                           <div class="modal-footer">
                                               <button type="button" (click)="onAddSubmit()" data-dismiss="addModal" class="btn btn-default"  >Add</button >
                                                   <button type="button" class="btn btn-danger waves-effect"
                                                       data-dismiss="modal">Cancel</button>
                                               </div>
                                       </form>
                                       </div>
                                       </div>
                                       </div>
                                       </div>
                                       
                                            <!-- Add button -->
                        </div>
                    </div>
                   <div class="body">
                            <div class="table-responsive">
                                 <table id="tableExport" 
                                 class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Payment Method</th>
                                            <th >Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let paymentMethod of paymentMethods?.response; let i=index">
                                            <td>{{i +1 }}</td> 
                                            <td>{{paymentMethod?.paymentMethod}}</td>
                                            <td>
                                                <div class="btn btn-tbl-edit" data-toggle="modal" data-target="#editModal">
                                                    <i class="material-icons" (click)="onEdit(paymentMethod)">create</i>
                                                </div>
                                                    <div class="btn btn-tbl-delete">
                                                        <i class="material-icons" 
                                                        (click) = "deletePaymentMethod(paymentMethod?._id)" >delete_forever</i>
                                                    </div>
                                                </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
 <!-- Edit form -->
 <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
 aria-labelledby="formModal" aria-hidden="true">
 <div class="modal-dialog" role="document">
     <div class="modal-content">
         <div class="modal-header">
             <h5 class="modal-title" id="formModal">Edit PaymentMethod</h5>
             <button type="button" class="close" data-dismiss="modal"
                 aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body">
             <form [formGroup]="editForm">
                 <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                         <label>Payment Method</label> 
                         <input type="text" formControlName="paymentMethod" class="form-control" placeholder="Enter paymentMethod"
                             [ngClass]="{ 'is-invalid': submitted && f.paymentMethod.errors }" />
                         <div *ngIf="submitted && f.paymentMethod.errors" class="invalid-feedback">
                             <div *ngIf="f.paymentMethod.errors.required">PaymentMethod is required</div>
                         </div>
                     </div>
                 </div>
                 </div>
                 </form>
                 <div class="modal-footer">
                    <button type="button" (click)="onEditSubmit()" class="btn btn-default" >Update</button >
                        <button type="button" class="btn btn-danger waves-effect"
                            data-dismiss="modal">Cancel</button>
                    </div>
         </div>
      </div>