<section class="content">
    <div class="container-fluid">
        <!-- Table Start-->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Board Of Education</strong>
                        </h2>

                        <div class="row clearfix" style="margin-top: 4%">
                            <div class="col-lg-12">
                                <button style="margin-right:1%;" class="btn btn-border-radius bg-green waves-effect"
                                    (click)="exportExcel()">Excel</button>
                                <button style="margin-right:1%;" class="btn btn-border-radius bg-pink waves-effect"
                                    (click)="exportPDF()"><i class="material-icons">picture_as_pdf</i>
                                    <span>Pdf</span></button>
                                <button style="margin-right:1%;" class="btn btn-border-radius bg-blue waves-effect"
                                    (click)="printTable()"><i class="material-icons">print</i>
                                    <span>Print</span></button>

                                <div class="col-lg-3 header-dropdown m-r--5">
                                    <div class="form-line input-field">
                                        <input class="form-control" type="text" name="search" [(ngModel)]="filter"
                                            placeholder="Search">
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="header-dropdown m-r--5">
                            <!-- Add button -->

                            <div class="btn-group m-l-15">
                                <div class="noprint">
                                    <button id="addRow" class="btn btn-info" data-toggle="modal"
                                        data-target="#addModal">
                                        Add New
                                        <i class="fa fa-plus" style="color: white"></i>
                                    </button>
                                </div>

                                <div class="modal fade" id="addModal" tabindex="-1" role="dialog"
                                    aria-labelledby="formModal" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="formModal">Add Details</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form [formGroup]="registerForm">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label>Board</label>
                                                                <input type="text"  formControlName="board"
                                                                    class="form-control" placeholder="Enter board"
                                                                    [ngClass]="{ 'is-invalid': submitted && f.board.errors }" />
                                                                <div *ngIf="submitted && f.board.errors"
                                                                    class="invalid-feedback">
                                                                    <div *ngIf="f.board.errors.required">Board is
                                                                        required</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" (click)="onAddSubmit()"
                                                            data-dismiss="addModal" class="btn btn-default">Add</button>
                                                        <button type="button" class="btn btn-danger waves-effect"
                                                            data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Add button -->
                            </div>
                        </div>
                        <div class="body">
                            <div class="table-responsive">

                                <table id="tableExport"
                                    class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th (click)="sort('board')">Board Of Education
                                                <i class="menu-icon ti-exchange-vertical noprint"></i>
                                            </th>
                                            <th class="noprint">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let board of boards?.response | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i=index">
                                            <td>{{(p - 1) * 5 + i +1 }}</td>
                                            <td>{{board?.board}}</td>
                                            <div class="noprint">
                                                <td>
                                                    <div class="btn btn-tbl-edit" data-toggle="modal"
                                                        data-target="#editModal">
                                                        <i class="material-icons" (click)="onEdit(board)">create</i>
                                                    </div>
                                                    <div class="btn btn-tbl-delete">
                                                        <i class="material-icons"
                                                            (click)="deleteBoard(board?._id)">delete_forever</i>
                                                    </div>
                                                </td>
                                            </div>
                                        </tr>
                                    </tbody>
                                    <div class="noprint">
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Edit form -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="formModal"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="formModal">Edit Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form [formGroup]="editForm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Board</label>
                                            <input type="text" formControlName="board2" class="form-control" name="board"
                                                placeholder="Enter board"
                                                [ngClass]="{ 'is-invalid': submitted && f2.board2.errors }" />
                                            <div *ngIf="submitted && f2.board2.errors" class="invalid-feedback">
                                                <div *ngIf="f2.board2.errors.required">Board is required</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button type="button" (click)="onEditSubmit()" class="btn btn-default">Update</button>
                                <button type="button" class="btn btn-danger waves-effect"
                                    data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
