<section class="content">
        <div class="container-fluid">
            <!-- Table Start-->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                <strong>Staff Profile Management</strong>
                            </h2>
                            <div class="header-dropdown m-r--5">
                                    <!-- Add button -->
                                        <div class="btn-group m-l-15">
                                                <button id="addRow" class="btn btn-info" data-toggle="modal"
                                                data-target="#addModal">
                                                    Add New
                                                    <i class="fa fa-plus" style="color: white"></i>
                                                </button>
                                        </div>
                                     <!-- Add button -->
                                </div>
                            </div>

                            <div class="modal-body">
                                <div class="body">
                                    <div class="row clearfix">
                                        <div class="col-md-3">
                                            <label  for="institution">Institution</label>
                                            <select  id="selectInstitution" [(ngModel)]="selectedinstitution" class="browser-default form-control"
                                                (change)="onInstitutionChange($event.target.value)">
                                                <option>Choose your institution</option>
                                                <option  *ngFor="let institution of institutions" [value]="institution._id">{{institution.institution_name}}</option>
                                                </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label for="department">Department</label>
                                            <select id="selectDepartment" [(ngModel)]="selectedDepartment" class="browser-default form-control"
                                            (change)="onDepartmentChange($event.target.value)">
                                                <option>Choose your Department</option>
                                                <option *ngFor="let department of departments?.response"
                                                    [value]="department._id">{{department?.department}}</option>
                                                </select>
                                        </div>
                                             <div class="col-lg-3 header-dropdown m-r--5">
                                                    <div class="form-line input-field">
                                                        <input class="form-control" type="text" name="search" [(ngModel)]="filter"
                                                            placeholder="Search">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>

                       <div class="body">
                                <div class="table-responsive">
                                     <table id="tableExport"
                                     class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                        <thead>
                                            <tr>
                                            <th>S.No</th>
                                            <th>Photo</th>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Department</th>
                                            <th>Institution</th>
                                            <th>Designation</th>
                                            <th>Staff Role</th>
                                            <th>Gender</th>
                                            <th>Mobile Number</th>
                                            <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let staffprofile of staffprofiles; let i=index">
                                                <td>{{i +1 }}</td>
                                                <td><img src="{{staffprofile?.photoLocation}}" width="100px"></td>
                                                <td>{{staffprofile?.staffCode}}</td>
                                                <td>{{staffprofile?.firstName}}</td>
                                                <td>{{staffprofile.DepartmentDetails[0].department}}</td>
                                                <td>{{staffprofile?.InstitutionDetails[0].institution_name}}</td>
                                                <td>{{staffprofile?.designation}}</td>
                                                <td>{{staffprofile.StaffRoleDetails[0].staffrole}}</td>
                                                <td>{{staffprofile.GenderDetails[0].gender}}</td>
                                                <td>{{staffprofile?.mobileNo}}</td>
                                                <td>
                                                        <button type="button" (click)="open(staffprofile)"
                                                        class="btn btn-default">View</button>
                                                    </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <!-- Table End -->
        </div>
    </section>
     <!-- Add form -->
     <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formModal">Add Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_advanced_validation">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-float">
                                    <label  for="institution">Institution</label>
                                    <div class="form-line">
                                    <select  id="select" [(ngModel)]="selectedinstitution2" class="browser-default form-control"
                                        (change)="onInstitutionChange($event.target.value)" [formControl]="institution" required>
                                        <option>Choose your institution</option>
                                        <option  *ngFor="let institution of institutions" [value]="institution._id">{{institution.institution_name}}</option>
                                        </select></div>
                                      </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                    <label for="department">Department</label>
                                    <div class="form-line">
                                    <select id="selectDepartment2" name="selectedDepartment2" [(ngModel)]="selectedDepartment2" class="browser-default form-control"
                                    (change)="onDepartmentChange($event.target.value)" [formControl]="department" required>
                                        <option>Choose your Department</option>
                                        <option *ngFor="let department of departments?.response"
                                            [value]="department._id">{{department?.department}}</option>
                                        </select>
                                      </div>
                                      </div>
                                </div>

                                    <!-- <div class="col-md-6">
                                            <div class="form-group form-float">
                                                <label for="department">Choose Department</label>
                                                <div class="form-line">
                                                    <select id="select" name="department" [(ngModel)]="selecteddepartment"
                                                        class="browser-default form-control" [formControl]="department" required>
                                                        <option>Choose your Department</option>
                                                        <option *ngFor="let department of departmentsdrop" [value]="department._id">
                                                            {{department?.department}}</option>
                                                    </select>
                                                    </div>
                                            </div>
                                    </div> -->
                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <label for="staffCode">Staff Code</label>
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="staffCode" placeholder="Enter Staff Code"
                                                [formControl]="staffCode" required />
                                                </div>
                                    </div>
                                </div>
                                   </div>

                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <label for="stafftype">Choose Staff Type</label>
                                            <div class="form-line">
                                                <select id="selectStafftype" name="stafftype" [(ngModel)]="selectedstafftype"
                                                    class="browser-default form-control" [formControl]="stafftype" required>
                                                    <option>Choose your Staff Type</option>
                                                    <option *ngFor="let stafftype of stafftypes?.response" [value]="stafftype._id">
                                                        {{stafftype?.stafftype}}</option>
                                                </select>

                                                </div>
                                        </div>
                                      </div>
                                         <div class="col-md-6">
                                            <div class="form-group form-float">
                                                <label for="staffrole">Choose Staff Role</label>
                                                <div class="form-line">
                                                    <select id="selectStaffrole" name="staffrole" [(ngModel)]="selectedstaffrole"
                                                        class="browser-default form-control" [formControl]="staffrole" required>
                                                        <option>Choose your Staff Role</option>
                                                        <option *ngFor="let staffrole of staffroles?.response" [value]="staffrole._id">
                                                            {{staffrole?.staffrole}}</option>
                                                    </select>
                                                    </div>
                                            </div>
                                        </div>
                                  </div>
                                  <div class="row">
                                        <div class="col-md-6">
                                                <div class="form-group form-float">
                                                    <label for="gender">Choose Gender</label>
                                                    <div class="form-line">
                                                        <select id="selectGender" name="gender" [(ngModel)]="selectedgender"
                                                            class="browser-default form-control" [formControl]="gender" required>
                                                            <option>Choose your Gender</option>
                                                            <option *ngFor="let gender of genders?.response" [value]="gender._id">
                                                                {{gender?.gender}}</option>
                                                        </select>
                                                        </div>
                                                </div>
                                              </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <label for="salutation">Choose Salutation</label>
                                            <div class="form-line">
                                                <select id="selectSalutation" name="salutation" [(ngModel)]="selectedsalutation"
                                                    class="browser-default form-control" [formControl]="salutation" required>
                                                    <option>Choose your Salutation</option>
                                                    <option *ngFor="let salutation of salutations?.response" [value]="salutation._id">
                                                        {{salutation?.salutation}}</option>
                                                </select>
                                                </div>
                                        </div>
                                      </div>

                                  </div>
                                  <div class="row">
                                        <div class="col-md-6">
                                                <div class="form-group form-float">
                                                    <label for="firstName">First Name</label>
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" name="firstName" placeholder="Enter First Name"
                                                            [formControl]="firstName" required />
                                                            </div>
                                                </div>
                                            </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <label for="lastName">Last Name</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="lastName" placeholder="Enter Last Name"
                                                    [formControl]="lastName" required />
                                                    </div>
                                        </div>
                                    </div>


                                  </div>

                                  <div class="row">
                                        <div class="col-md-6">
                                                <div class="form-group form-float">
                                                    <label for="designation">Designation</label>
                                                    <div class="form-line">
                                                        <input type="text" class="form-control" name="designation" placeholder="Enter Designation"
                                                            [formControl]="designation" required />
                                                            </div>
                                                </div>
                                            </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <label for="doj">Date of Joining</label>
                                            <div class="form-line">
                                                <input type="date" class="form-control" name="doj" placeholder="Enter Date of Joining"
                                                    [formControl]="doj" required />
                                                    </div>
                                        </div>
                                    </div>

                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <label for="dob">Date of Birth</label>
                                            <div class="form-line">
                                                <input type="date" class="form-control" name="dob" placeholder="Enter Date of Birth"
                                                    [formControl]="dob" required />
                                                    </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <label for="employeeCode">Employee Code</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="employeeCode" placeholder="Enter Employee Code"
                                                    [formControl]="employeeCode" required />
                                                    </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <label for="paytype">Choose Pay Type</label>
                                            <div class="form-line">
                                                <select id="selectpaytype" name="paytype" [(ngModel)]="selectedpaytype"
                                                    class="browser-default form-control" [formControl]="paytype" required>
                                                    <option>Choose your Pay Type</option>
                                                    <option *ngFor="let paytype of paytypes?.response" [value]="paytype._id">
                                                        {{paytype?.paytype}}</option>
                                                </select>
                                                </div>
                                        </div>
                                      </div>
                                     <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <label for="emailId">Email Id</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="emailId" placeholder="Enter Email Id"
                                                    [formControl]="emailId" required />
                                                    </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <label for="mobileNo">Mobile Number</label>
                                            <div class="form-line">
                                                <input type="text" class="form-control" name="mobileNo" placeholder="Enter Mobile Number"
                                                    [formControl]="mobileNo" required />
                                                    </div>
                                        </div>
                                    </div>
                                <div class="col-md-6">
                                    <div class="form-group form-float">
                                        <label for="emergencyNo">Emergency Mobile Number</label>
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="emergencyNo" placeholder="Enter Emergency Mobile Number"
                                                [formControl]="emergencyNo" required />
                                                </div>
                                    </div>
                                </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <label for="maritalstatus">Choose Marital Status</label>
                                            <div class="form-line">
                                                <select id="selectmaritalstatus" name="maritalstatus" [(ngModel)]="selectedmaritalstatus"
                                                    class="browser-default form-control" [formControl]="maritalstatus" required>
                                                    <option>Choose your Marital Status</option>
                                                    <option *ngFor="let maritalstatus of maritalstatuses?.response" [value]="maritalstatus._id">
                                                        {{maritalstatus?.maritalstatus}}</option>
                                                </select>
                                                </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group form-float">
                                            <label for="bloodgroup">Choose Blood Group</label>
                                            <div class="form-line">
                                                <select id="selectbloodgroup" name="bloodgroup" [(ngModel)]="selectedbloodgroup"
                                                    class="browser-default form-control" [formControl]="bloodgroup" required>
                                                    <option>Choose your Blood Group</option>
                                                    <option *ngFor="let bloodgroup of bloodgroups?.response" [value]="bloodgroup._id">
                                                        {{bloodgroup?.bloodgroup}}</option>
                                                </select>
                                                </div>
                                        </div>
                                      </div>
                              </div>
                              <div class="row">

                                <div class="col-sm-12">
                                    <h6>Photo</h6>
                                    <img style="margin:0 auto" src="{{getfileLoc}}" width="100px">
                                    <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
                                    <div class="progress">
                                        <div class="progress-bar width-per-45" [ngStyle]="{'width':uploader.progress+'%'}">
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="uploader?.queue?.length > 0">
                                        <button type="button" (click)="photosubmit()">Upload</button></div>
                                </div>
                            </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-info waves-effect" (click)="addStaffprofile()">Add</button>
                                    <span> {{message}}</span>

                                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
