<section class="content">
    <div class="container-fluid">
        <!-- Table Start-->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Fuel Entry</strong>
                        </h2>
                        <div class="header-dropdown m-r--5">
                            <!-- Add button -->
                            <div class="btn-group m-l-15">
                                <button id="addRow" class="btn btn-info" data-toggle="modal"
                                    data-target="#addFuelModal">
                                    Add New
                                    <i class="fa fa-plus" style="color: white"></i>
                                </button>
                            </div>
                            <!-- Add button -->
                        </div>
                    </div>


                    <div class="body">
                        <div class="table-responsive">
                            <table id="tableExport"
                                class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>VNO</th>
                                        <th>Date</th>
                                        <th>Open KM</th>
                                        <th>Close KM</th>
                                        <th>Running KM</th>
                                        <th>Is Fill</th>
                                        <th>Quantity</th>
                                        <th>Rate</th>
                                        <th>Amount</th>
                                        <th>Filling Station</th>
                                        <th>Mileage</th>
                                        <th>Bill No</th>
                                        <th>Driver</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let fuel of fuels; let i=index">
                                        <td>{{i +1 }}</td>
                                        <td>{{fuel.VehicleDetails[0].vehicleNo}}</td>
                                        <td>{{fuel?.fuelDate}}</td>
                                        <td>{{fuel?.openKM}}</td>
                                        <td>{{fuel?.closeKM}}</td>
                                        <td>{{fuel?.runningKM}}</td>
                                        <td>{{fuel?.isFill}}</td>
                                        <td>{{fuel?.quantity}}</td>
                                        <td>{{fuel?.rate}}</td>
                                        <td>{{fuel?.fuelAmount}}</td>
                                        <td>{{fuel.StationDetails[0].name}}</td>
                                        <td>{{fuel?.mileage}}</td>
                                        <td>{{fuel?.billNo}}</td>
                                        <td>{{fuel.DriverDetails[0].name}}</td>
                                        <td>
                                            <div class="btn btn-tbl-edit" data-toggle="modal"
                                                data-target="#editFuelModal">
                                                <i class="material-icons" (click)="onEditFuel(fuel?._id) ">create</i>
                                            </div>
                                            <div class="btn btn-tbl-delete">
                                                <i class="material-icons" (click)="deleteFuel(fuel?._id)">delete</i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Table End -->
    </div>
</section>
<!-- Add Fuel form -->
<div class="modal fade" id="addFuelModal" tabindex="-1" role="dialog" aria-labelledby="fuel1formModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fuel1formModal">Add Fuel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addFuelForm" (ngSubmit)="onAddFuel()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Vehicle</label>
                                <select id="select" [(ngModel)]="fuelVehicleNo"
                                    class="browser-default form-control" formControlName="fuelVehicleNo"
                                    (change)="onVehicleChange($event.target.value)"
                                    [ngClass]="{ 'is-invalid': submitted && s.fuelVehicleNo.errors }">
                                    <option>Choose your Vehicle No</option>
                                    <option *ngFor="let vehicle of vehicles" [value]="vehicle._id">
                                        {{vehicle?.vehicleNo}}</option>
                                </select>
                                <div *ngIf="submitted && s.fuelVehicleNo.errors" class="invalid-feedback">
                                    <div *ngIf="s.fuelVehicleNo.errors.required">Vehicle is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date" formControlName="fuelDate" class="form-control"
                                    placeholder="Enter Date"
                                    [ngClass]="{ 'is-invalid': submitted && s.fuelDate.errors }" />
                                <div *ngIf="submitted && s.fuelDate.errors" class="invalid-feedback">
                                    <div *ngIf="s.fuelDate.errors.required">Date is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Opening KM</label>

                                <input type="text" id="openKM" formControlName="openKM" class="form-control"
                                    placeholder="Enter Opening KM"
                                    [ngClass]="{ 'is-invalid': submitted && s.openKM.errors }" [ngModel]="openKM" />


                                <div *ngIf="submitted && s.openKM.errors" class="invalid-feedback">
                                    <div *ngIf="s.openKM.errors.required">Opening KM is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Closing KM</label>
                                <input type="text" formControlName="closeKM" class="form-control"
                                    placeholder="Enter Closing KM"
                                    [ngClass]="{ 'is-invalid': submitted && s.closeKM.errors }" />
                                <div *ngIf="submitted && s.closeKM.errors" class="invalid-feedback">
                                    <div *ngIf="s.closeKM.errors.required">Closing KM is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tank Fill?</label>
                                <select id="select" name="isFill" class="browser-default form-control"
                                    formControlName="isFill" [ngClass]="{ 'is-invalid': submitted && s.isFill.errors }">
                                    <option>Choose your Tank Fill</option>
                                    <option> Yes </option>
                                    <option> No </option>
                                </select>
                                <div *ngIf="submitted && s.isFill.errors" class="invalid-feedback">
                                    <div *ngIf="s.isFill.errors.required">Tank Fill is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Fuel Quantity</label>
                                <input type="text"  formControlName="quantity" class="form-control"
                                    placeholder="Enter Fuel Quantity"
                                    [ngClass]="{ 'is-invalid': submitted && s.quantity.errors }" />
                                <div *ngIf="submitted && s.quantity.errors" class="invalid-feedback">
                                    <div *ngIf="s.quantity.errors.required">Fuel Quantity is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Rate</label>
                                <input type="text"  formControlName="rate" class="form-control"
                                    placeholder="Enter Rate" [ngClass]="{ 'is-invalid': submitted && s.rate.errors }" />
                                <div *ngIf="submitted && s.rate.errors" class="invalid-feedback">
                                    <div *ngIf="s.rate.errors.required">Rate is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Bill No</label>
                                <input type="text"  formControlName="billNo" class="form-control"
                                    placeholder="Enter Bill No"
                                    [ngClass]="{ 'is-invalid': submitted && s.billNo.errors }" />
                                <div *ngIf="submitted && s.billNo.errors" class="invalid-feedback">
                                    <div *ngIf="s.billNo.errors.required">Bill No is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Filling Station</label>
                                <select id="select" name="stationName" [(ngModel)]="selectedstationName"
                                    class="browser-default form-control" formControlName="stationName"
                                    [ngClass]="{ 'is-invalid': submitted && s.stationName.errors }">
                                    <option>Choose your Filling Station</option>
                                    <option *ngFor="let station of stations?.response" [value]="station._id">
                                        {{station?.name}}</option>
                                </select>
                                <div *ngIf="submitted && s.stationName.errors" class="invalid-feedback">
                                    <div *ngIf="s.stationName.errors.required">Filling Station is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Driver</label>
                                <select id="select" name="driverName" [(ngModel)]="selectedDriver"
                                    class="browser-default form-control" formControlName="driverName"
                                    [ngClass]="{ 'is-invalid': submitted && s.driverName.errors }">
                                    <option>Choose your Driver</option>
                                    <option *ngFor="let driver of drivers" [value]="driver._id">
                                        {{driver?.name}}</option>
                                </select>
                                <div *ngIf="submitted && s.driverName.errors" class="invalid-feedback">
                                    <div *ngIf="s.driverName.errors.required">Driver is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Add</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add Fuel form -->
<!-- Edit Fuel form -->
<div class="modal fade" id="editFuelModal" tabindex="-1" role="dialog" aria-labelledby="fuel2formModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fuel2formModal">Edit Fuel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editFuelForm" (ngSubmit)="onEditFuelSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Vehicle</label>
                                <select id="select" name="fuelVehicleNo" [(ngModel)]="selectedfuelVehicleNo"
                                    class="browser-default form-control" formControlName="fuelVehicleNo"
                                    [ngClass]="{ 'is-invalid': submitted && s2.fuelVehicleNo.errors }">
                                    <option>Choose your Vehicle No</option>
                                    <option *ngFor="let vehicle of vehicles" [value]="vehicle._id">
                                        {{vehicle?.vehicleNo}}</option>
                                </select>
                                <div *ngIf="submitted && s2.fuelVehicleNo.errors" class="invalid-feedback">
                                    <div *ngIf="s2.fuelVehicleNo.errors.required">Vehicle is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="date"  formControlName="fuelDate" class="form-control"
                                    placeholder="Enter Date"
                                    [ngClass]="{ 'is-invalid': submitted && s2.fuelDate.errors }" />
                                <div *ngIf="submitted && s2.fuelDate.errors" class="invalid-feedback">
                                    <div *ngIf="s2.fuelDate.errors.required">Date is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Opening KM</label>
                                <input type="text"  formControlName="openKM" class="form-control"
                                    placeholder="Enter Opening KM"
                                    [ngClass]="{ 'is-invalid': submitted && s2.openKM.errors }" />
                                <div *ngIf="submitted && s2.openKM.errors" class="invalid-feedback">
                                    <div *ngIf="s2.openKM.errors.required">Opening KM is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Closing KM</label>
                                <input type="text"  formControlName="closeKM" class="form-control"
                                    placeholder="Enter Closing KM"
                                    [ngClass]="{ 'is-invalid': submitted && s2.closeKM.errors }" />
                                <div *ngIf="submitted && s2.closeKM.errors" class="invalid-feedback">
                                    <div *ngIf="s2.closeKM.errors.required">Closing KM is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Tank Fill?</label>
                                <select id="select" name="isFill" class="browser-default form-control"
                                    formControlName="isFill"
                                    [ngClass]="{ 'is-invalid': submitted && s2.isFill.errors }">
                                    <option>Choose your Tank Fill</option>
                                    <option> Yes </option>
                                    <option> No </option>
                                </select>
                                <div *ngIf="submitted && s2.isFill.errors" class="invalid-feedback">
                                    <div *ngIf="s2.isFill.errors.required">Tank Fill is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Fuel Quantity</label>
                                <input type="text"  formControlName="quantity" class="form-control"
                                    placeholder="Enter Fuel Quantity"
                                    [ngClass]="{ 'is-invalid': submitted && s2.quantity.errors }" />
                                <div *ngIf="submitted && s2.quantity.errors" class="invalid-feedback">
                                    <div *ngIf="s2.quantity.errors.required">Fuel Quantity is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Rate</label>
                                <input type="text"  formControlName="rate" class="form-control"
                                    placeholder="Enter Rate"
                                    [ngClass]="{ 'is-invalid': submitted && s2.rate.errors }" />
                                <div *ngIf="submitted && s2.rate.errors" class="invalid-feedback">
                                    <div *ngIf="s2.rate.errors.required">Rate is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Bill No</label>
                                <input type="text"  formControlName="billNo" class="form-control"
                                    placeholder="Enter Bill No"
                                    [ngClass]="{ 'is-invalid': submitted && s2.billNo.errors }" />
                                <div *ngIf="submitted && s2.billNo.errors" class="invalid-feedback">
                                    <div *ngIf="s2.billNo.errors.required">Bill No is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Filling Station</label>
                                <select id="select" name="stationName" [(ngModel)]="selectedstationName"
                                    class="browser-default form-control" formControlName="stationName"
                                    [ngClass]="{ 'is-invalid': submitted && s2.stationName.errors }">
                                    <option>Choose your Filling Station</option>
                                    <option *ngFor="let station of stations?.response" [value]="station._id">
                                        {{station?.name}}</option>
                                </select>
                                <div *ngIf="submitted && s2.stationName.errors" class="invalid-feedback">
                                    <div *ngIf="s2.stationName.errors.required">Filling Station is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Driver</label>
                                <select id="select" name="driverName" [(ngModel)]="selectedDriver"
                                    class="browser-default form-control" formControlName="driverName"
                                    [ngClass]="{ 'is-invalid': submitted && s2.driverName.errors }">
                                    <option>Choose your Driver</option>
                                    <option *ngFor="let driver of drivers" [value]="driver._id">
                                        {{driver?.name}}</option>
                                </select>
                                <div *ngIf="submitted && s2.driverName.errors" class="invalid-feedback">
                                    <div *ngIf="s2.driverName.errors.required">Driver is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Update</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit Fuel form -->
