<section class="content">
    <div class="container-fluid">
        <!-- Table Start-->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Country</strong>
                        </h2>
                        <div class="header-dropdown m-r--5">
                            <!-- Add button -->
                                <div class="btn-group m-l-15">
                                        <button id="addRow" class="btn btn-info" data-toggle="modal"
                                        data-target="#addModal">
                                            Add New
                                            <i class="fa fa-plus" style="color: white"></i>
                                        </button>
                                </div>
                             <!-- Add button -->
                        </div>
                    </div>
                   <div class="body">
                            <div class="table-responsive">
                                 <table id="tableExport"
                                 class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Countrycode</th>
                                            <th>Country</th>
                                            <th >Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let Country of Countrys?.response; let i=index">
                                            <td>{{i +1 }}</td>
                                            <td>{{Country?.Countrycode}}</td>
                                            <td>{{Country?.CountryName}}</td>
                                            <td>
                                                <div class="btn btn-tbl-edit" data-toggle="modal"
                                                data-target="#editModal">
                                                        <i class="material-icons"
                                                        (click)="onEdit(Country) ">create</i>
                                                </div>
                                                    <div class="btn btn-tbl-delete">
                                                        <i class="material-icons"
                                                        (click) = "deleteBloodgroup(Country?._id)" >delete</i>
                                                    </div>
                                                </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Table End -->
    </div>
</section>
 <!-- Add form -->
 <div class="modal fade" id="addModal" tabindex="-1" role="dialog"
 aria-labelledby="formModal" aria-hidden="true">
 <div class="modal-dialog" role="document">
     <div class="modal-content">
         <div class="modal-header">
             <h5 class="modal-title" id="formModal">Add Details</h5>
             <button type="button" class="close" data-dismiss="modal"
                 aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body">
                <form [formGroup]="registerForm" (ngSubmit)="onAddSubmit()">

                    <div class="form-group">
                        <label>Country Code</label>
                        <input type="text"  formControlName="Countrycode" class="form-control" placeholder="Enter Countrycode"
                            [ngClass]="{ 'is-invalid': submitted && f.Countrycode.errors }" />
                        <div *ngIf="submitted && f.Countrycode.errors" class="invalid-feedback">
                            <div *ngIf="f.Countrycode.errors.required">Countrycode is required</div>
                        </div>



                    <div class="form-group">
                            <label>Country</label>
                            <input type="text"  formControlName="CountryName" class="form-control" placeholder="Enter Country"
                                [ngClass]="{ 'is-invalid': submitted && f.CountryName.errors }" />
                            <div *ngIf="submitted && f.CountryName.errors" class="invalid-feedback">
                                <div *ngIf="f.CountryName.errors.required">Country is required</div>
                            </div>
                        </div>


                       
                    </div>
         <div class="modal-footer">
                <button type="submit" class="btn btn-default">Add</button >
             <button type="button" class="btn btn-danger waves-effect"
                 data-dismiss="modal">Cancel</button>
         </div>
        </form>
     </div>
 </div>
</div>
</div>
<!-- Edit Form -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
 aria-labelledby="formModal" aria-hidden="true">
 <div class="modal-dialog" role="document">
     <div class="modal-content">
         <div class="modal-header">
             <h5 class="modal-title" id="formModal">Edit Details</h5>
             <button type="button" class="close" data-dismiss="modal"
                 aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body">
                <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">



                    
                    <div class="form-group">
                        <label>Country Code</label>
                        <input type="text"  formControlName="Countrycode2" class="form-control" placeholder="Enter Countrycode2"
                            [ngClass]="{ 'is-invalid': submitted && f2.Countrycode2.errors }" />
                        <div *ngIf="submitted && f2.Countrycode2.errors" class="invalid-feedback">
                            <div *ngIf="f2.Countrycode2.errors.required">Countrycode is required</div>
                        </div>
                    <div class="form-group">
                            <label>Country</label>
                            <input type="text"  formControlName="CountryName2" class="form-control" placeholder="Enter Country"
                                [ngClass]="{ 'is-invalid': submitted && f2.CountryName2.errors }" />
                            <div *ngIf="submitted && f2.CountryName2.errors" class="invalid-feedback">
                                <div *ngIf="f2.CountryName2.errors.required">Country is required</div>
                            </div>
                        </div>


                    </div>
         <div class="modal-footer">
                <button type="submit" class="btn btn-default">Update</button >
             <button type="button" class="btn btn-danger waves-effect"
                 data-dismiss="modal">Cancel</button>
         </div>
        </form>
     </div>
 </div>
</div>
</div>
