<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Driver</strong>
                        </h2>
                        <div class="header-dropdown m-r--5">
                            <div class="btn-group m-l-15">
                                <button id="addRow" class="btn btn-info" data-toggle="modal" data-target="#addModal">
                                    Add New
                                    <i class="fa fa-plus" style="color: white"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">


                            <table id="tableExport"
                                class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Name</th>
                                        <th>Vehicle No</th>
                                        <!-- <th>Father's No</th>
                                        <th>Date of Birth</th> -->
                                        <!-- <th>Joining Year</th> -->
                                        <th>Personal Contact No</th>
                                        <th>Address</th>
                                        <th>Driving License No</th>
                                        <th>Aadhaar No</th>
                                        <th>Badge No</th>
                                        <th>Badge Expiry</th>
                                        <th>Home Contact No</th>
                                        <th>License DOI Date</th>
                                        <th>License Expiry Date</th>
                                        <!-- <th>Reference Person Name</th>
                                        <th>Reference Person Contact No</th> -->
                                        <th>Photo</th>
                                        <!-- <th>Address Proof</th> -->
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let driver of drivers; let i=index">
                                        <td>{{i +1 }}</td>
                                        <td>{{driver?.name}}</td>
                                        <td>{{driver?.VehicleDetails[0].vehicleNo}}</td>
                                        <!-- <td>{{driver?.fathersName}}</td>
                                        <td>{{driver?.dob}}</td> -->
                                        <td>{{driver?.personalContactNo}}</td>
                                        <td>{{driver?.address}}</td>
                                        <td>{{driver?.drivingLicenseNo}}</td>
                                        <td>{{driver?.aadhaarNo}}</td>
                                        <td>{{driver?.badgeNo}}</td>
                                        <td>{{driver?.badgeExpiry}}</td>
                                        <td>{{driver?.homeContactNo}}</td>
                                        <td>{{driver?.licenseDOIDate}}</td>
                                        <td>{{driver?.licenseExpDate}}</td>
                                        <!-- <td>{{driver?.referencePersonName}}</td>
                                        <td>{{driver?.referencePersonContactNo}}</td> -->
                                        <td><img src="{{driver?.photoLocation}}" width="100px">
                                        </td>
                                        <!-- <td>{{driver?.fileLocation}}</td> -->
                                        <td>
                                            <div class="btn btn-tbl-edit" data-toggle="modal" data-target="#editModal">
                                                <i class="material-icons" (click)="onEdit(driver) ">create</i>
                                            </div>
                                            <div class="btn btn-tbl-delete">
                                                <i class="material-icons" (click)="deleteDriver(driver?._id)">delete</i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table End -->
    </div>
</section>

<!-- Add form -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Add Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_advanced_validation">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="name">Name</label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="name" placeholder="Enter Name"
                                        [formControl]="name" required />
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group form-float">

                                <label for="vehicleNo">Choose Vehicle No</label>
                                <div class="form-line">
                                    <select id="select" name="vehicleNo" [(ngModel)]="selectedvehicleNo"
                                        class="browser-default form-control" [formControl]="vehicleNo"
                                        placeholder="Choose your Vehicle No" required>
                                        <option disabled selected>Choose your Vehicle No</option>
                                        <option *ngFor="let vehicle of vehicles" [value]="vehicle._id">
                                            {{vehicle?.vehicleNo}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="fathersName">Father's Name</label>
                                <div class="form-line">
                                    <input type="text" name="fathersName" [formControl]="fathersName"
                                        class="form-control" placeholder="Enter Father's Name" required />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="dob">Date of Birth</label>
                                <div class="form-line">
                                    <input type="date" name="dob" [formControl]="dob" class="form-control"
                                        placeholder="Enter Date of Birth" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="joiningYear">Joining Year</label>
                                <div class="form-line">
                                    <input type="text" name="joiningYear" [formControl]="joiningYear"
                                        class="form-control" placeholder="Enter Joining Year" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="personalContactNo">Personal Contact No</label>
                                <div class="form-line">
                                    <input type="text" name="personalContactNo" [formControl]="personalContactNo"
                                        class="form-control" placeholder="Enter Personal Contact No" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <label for="address">Address</label>
                        <div class="form-line">
                            <textarea type="text" name="address" [formControl]="address" class="form-control"
                                placeholder="Enter Address" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="drivingLicenseNo">Driving License No</label>
                                <div class="form-line">
                                    <input type="text" name="drivingLicenseNo" [formControl]="drivingLicenseNo"
                                        class="form-control" placeholder="Enter Driving License No" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="aadhaarNo">Aadhaar No</label>
                                <div class="form-line">
                                    <input type="text" name="aadhaarNo" [formControl]="aadhaarNo" class="form-control"
                                        placeholder="Enter Aadhaar No" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="badgeNo">Badge No</label>
                                <div class="form-line">
                                    <input type="text" name="badgeNo" [formControl]="badgeNo" class="form-control"
                                        placeholder="Enter Badge No" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="badgeExpiry">Badge Expiry</label>
                                <div class="form-line">
                                    <input type="date" name="badgeExpiry" [formControl]="badgeExpiry"
                                        class="form-control" placeholder="Enter Badge Expiry" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="homeContactNo">Home Contact No</label>
                                <div class="form-line">
                                    <input type="text" name="homeContactNo" [formControl]="homeContactNo"
                                        class="form-control" placeholder="Enter Home Contact No" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="licenseDOIDate">License DOI Date</label>
                                <div class="form-line">
                                    <input type="date" name="licenseDOIDate" [formControl]="licenseDOIDate"
                                        class="form-control" placeholder="Enter License DOI Date" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <label for="licenseExpDate">License Expiry Date</label>
                        <div class="form-line">
                            <input type="date" name="licenseExpDate" [formControl]="licenseExpDate" class="form-control"
                                placeholder="Enter License Expiry Date" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="referencePersonName">Reference Person Name</label>
                                <div class="form-line">
                                    <input type="text" name="referencePersonName" [formControl]="referencePersonName"
                                        class="form-control" placeholder="Enter Reference Person Name" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="referencePersonContactNo">Reference Person Contact No</label>
                                <div class="form-line">
                                    <input type="text" name="referencePersonContactNo"
                                        [formControl]="referencePersonContactNo" class="form-control"
                                        placeholder="Enter Reference Person Contact No" required />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-12">
                            <h6>Photo</h6>
                            <img style="margin:0 auto" src="{{getfileLoc}}" width="100px">
                            <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
                            <div class="progress">
                                <div class="progress-bar width-per-45" [ngStyle]="{'width':uploader.progress+'%'}">
                                </div>
                            </div>
                            <div class="row" *ngIf="uploader?.queue?.length > 0">
                                <button type="button" (click)="photosubmit()">Upload</button></div>
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-sm-12">
                            <h6>Address Proof</h6>
                            <img style="margin:0 auto" src="{{getfileLoc2}}" width="100px">
                            <input type="file" name="file" ng2FileSelect [uploader]="uploader2" />
                            <div class="progress">
                                <div class="progress-bar width-per-45" role="progressbar" aria-valuenow="60"
                                    [ngStyle]="{'width':uploader2.progress+'%'}" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <div class="row" *ngIf="uploader2?.queue?.length > 0">
                                <button type="button" (click)="filesubmit()">Upload</button></div>
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect" (click)="adddriver()">Add</button>
                        <span> {{message}}</span>

                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit Form -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Edit Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_advanced_validation1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group form-float">
                                    <label for="name">Name</label>
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="name" placeholder="Enter Name"
                                            [formControl]="name2" required />
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group form-float">

                                <label for="vehicleNo">Choose Vehicle No</label>
                                <div class="form-line">
                                    <select id="select" name="vehicleNo" [(ngModel)]="selectedvehicleNo"
                                        class="browser-default form-control" [formControl]="vehicleNo2"
                                        placeholder="Choose your Vehicle No" required>
                                        <option disabled selected>Choose your Vehicle No</option>
                                        <option *ngFor="let vehicle of vehicles" [value]="vehicle._id">
                                            {{vehicle?.vehicleNo}}</option>
                                    </select>


                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="fathersName">Father's Name</label>
                                <div class="form-line">
                                    <input type="text" name="fathersName" [formControl]="fathersName2"
                                        class="form-control" placeholder="Enter Father's Name" required />

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="dob">Date of Birth</label>
                                <div class="form-line">
                                    <input type="date" name="dob" [formControl]="dob2" class="form-control"
                                        placeholder="Enter Date of Birth" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="joiningYear">Joining Year</label>
                                <div class="form-line">
                                    <input type="text" name="joiningYear" [formControl]="joiningYear2"
                                        class="form-control" placeholder="Enter Joining Year" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="personalContactNo">Personal Contact No</label>
                                <div class="form-line">
                                    <input type="text" name="personalContactNo" [formControl]="personalContactNo2"
                                        class="form-control" placeholder="Enter Personal Contact No" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <label for="address">Address</label>
                        <div class="form-line">
                            <textarea type="text" name="address" [formControl]="address2" class="form-control"
                                placeholder="Enter Address" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="drivingLicenseNo">Driving License No</label>
                                <div class="form-line">
                                    <input type="text" name="drivingLicenseNo" [formControl]="drivingLicenseNo2"
                                        class="form-control" placeholder="Enter Driving License No" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="aadhaarNo">Aadhaar No</label>
                                <div class="form-line">
                                    <input type="text" name="aadhaarNo" [formControl]="aadhaarNo2" class="form-control"
                                        placeholder="Enter Aadhaar No" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="badgeNo">Badge No</label>
                                <div class="form-line">
                                    <input type="text" name="badgeNo" [formControl]="badgeNo2" class="form-control"
                                        placeholder="Enter Badge No" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="badgeExpiry">Badge Expiry</label>
                                <div class="form-line">
                                    <input type="date" name="badgeExpiry" [formControl]="badgeExpiry2"
                                        class="form-control" placeholder="Enter Badge Expiry" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="homeContactNo">Home Contact No</label>
                                <div class="form-line">
                                    <input type="text" name="homeContactNo" [formControl]="homeContactNo2"
                                        class="form-control" placeholder="Enter Home Contact No" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="licenseDOIDate">License DOI Date</label>
                                <div class="form-line">
                                    <input type="date" name="licenseDOIDate" [formControl]="licenseDOIDate2"
                                        class="form-control" placeholder="Enter License DOI Date" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <label for="licenseExpDate">License Expiry Date</label>
                        <div class="form-line">
                            <input type="date" name="licenseExpDate" [formControl]="licenseExpDate2"
                                class="form-control" placeholder="Enter License Expiry Date" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="referencePersonName">Reference Person Name</label>
                                <div class="form-line">
                                    <input type="text" name="referencePersonName" [formControl]="referencePersonName2"
                                        class="form-control" placeholder="Enter Reference Person Name" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="referencePersonContactNo">Reference Person Contact No</label>
                                <div class="form-line">
                                    <input type="text" name="referencePersonContactNo"
                                        [formControl]="referencePersonContactNo2" class="form-control"
                                        placeholder="Enter Reference Person Contact No" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-12">
                            <h6>Photo</h6>
                            <img style="margin:0 auto" src="{{photoLocationValue}}" width="100px">
                            <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
                            <div class="progress">
                                <div class="progress-bar width-per-45" [ngStyle]="{'width':uploader.progress+'%'}">
                                </div>
                            </div>
                            <div class="row" *ngIf="uploader?.queue?.length > 0">
                                <button type="button" (click)="photosubmit()">Upload</button></div>
                        </div>
                    </div>
                    <br>
                    <div class="row">

                        <div class="col-sm-12">
                            <h6>Address Proof</h6>
                            <img style="margin:0 auto" src="{{fileLocationValue}}" width="100px">
                            <input type="file" name="file" ng2FileSelect [uploader]="uploader2" />
                            <div class="progress">
                                <div class="progress-bar width-per-45" role="progressbar" aria-valuenow="60"
                                    [ngStyle]="{'width':uploader2.progress+'%'}" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                            <div class="row" *ngIf="uploader2?.queue?.length > 0">
                                <button type="button" (click)="filesubmit()">Upload</button></div>
                        </div>
                    </div>
                    <br>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect" (click)="updateDriver()">Update</button>

                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- #END# Edit form Modal -->