<div class="noprint">
<div>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
    <!-- Menu -->
    <div class="menu">
      <ul class="list">

        <li routerLinkActive="active">
          <a href="" onClick="return false;" class="menu-toggle">
            <i class="menu-icon ti-home"></i>
            <span>Master</span>
          </a>
          <ul class="ml-menu">
            <li routerLinkActive="active">
              <a routerLink="dashboard/main">Dashboard</a>
            </li>

            <li routerLinkActive="active">
              <a routerLink="country">country</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="state">State</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="city">City</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="gender">Gender</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="interest">Interests</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="membarshipcategory">Membarshipcategory</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="membarshiptype">Membarshiptype</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- #Menu -->
  </aside>
  <!-- #END# Left Sidebar -->
</div>
</div>
