<div class="noprint">
<div>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar">
    <!-- Menu -->
    <div class="menu">
      <ul class="list">

        <li routerLinkActive="active">
          <a href="" onClick="return false;" class="menu-toggle">
            <i class="menu-icon ti-home"></i>
            <span>Master</span>
          </a>
          <ul class="ml-menu">
            <li routerLinkActive="active">
              <a routerLink="dashboard/main">Dashboard</a>
            </li>

            <li routerLinkActive="active">
              <a routerLink="countrymas">country</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="state">State</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="region">Region</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="district">District</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="city">City</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="gender">Gender</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="interest">Interests</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="membershipcategory">Membershipcategory</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="membershiptype">Membershiptype</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="memberclassification">Membershipclassification</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="membershipcost">Membershipcost</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="chapter">Chapter</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="member">Member</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="events">Events</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="speaker">Speaker</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="sponsor">Sponsor</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="news">News</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- #Menu -->
  </aside>
  <!-- #END# Left Sidebar -->
</div>
</div>
