<div class="noprint">
    <div>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- Menu -->
            <div class="menu">
                <ul class="list">

                    <li routerLinkActive="active">
                        <a href="" onClick="return false;" class="menu-toggle">
                            <i class="menu-icon ti-home"></i>
                            <span>Master</span>
                        </a>
                        <ul class="ml-menu">
                            <li routerLinkActive="active">
                                <a routerLink="dashboard/main">Dashboard</a>
                            </li>

                            <li routerLinkActive="active">
                                <a routerLink="institution">Institution</a>
                            </li>

                            <li routerLinkActive="active">
                                <a routerLink="academic-year">Academic Year</a>
                            </li>

                            <li routerLinkActive="active">
                                <a routerLink="admissionCategory">Admission Category</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="admission-type">Admission Type</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="boardOfEducation">Board Of Education</a>
                            </li>

                            <li routerLinkActive="active">
                                <a routerLink="course-category">Course Category</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="course-program">Course Program</a>
                            </li>

                            <li routerLinkActive="active">
                                <a routerLink="user-designation">Staff Designation</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="bloodgroup">Blood Group</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="community">Community</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="caste">Caste</a>
                            </li>

                            <li routerLinkActive="active">
                                <a routerLink="religion">Religion</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="nationality">Nationality</a>
                            </li>
                        </ul>
                    </li>
                    <li routerLinkActive="active">
                        <a href="" onClick="return false;" class="menu-toggle">

                            <span>Staff Master</span>
                        </a>
                        <ul class="ml-menu">
                            <li routerLinkActive="active">
                                <a routerLink="staff-type">Staff Type</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="staff-role">Staff Role</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="pay-type">Pay Type</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="salutation">Salutation</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="gender">Gender</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="marital-status">Marital Status</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="department">Department</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="fee-type">Fee Type</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="mode-of-enquiry">Mode Of Enquiry</a>
                            </li>
                        </ul>
                    </li>
                    <li routerLinkActive="active">
                        <a href="" onClick="return false;" class="menu-toggle">

                            <span>Student Master</span>
                        </a>
                        <ul class="ml-menu">
                            <li routerLinkActive="active">
                                <a routerLink="address-type">Address Type</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="course-type">Course Type</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="degree">Degree</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="institution-type">Institution Type</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="medium">Medium</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="mother-tongue">Mother Tongue</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="payment-method">Payment Method</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="referral-type">Referral Type</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="scholarship-category">Scholarship Category</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="bank">Bank</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="qualification-type">Qualification Type</a>
                            </li>
                        </ul>

                    </li>
                    <li routerLinkActive="active">
                        <a href="#" onClick="return false;" class="menu-toggle">
                           
                            <span>Staff Management</span>
                        </a>
                        <ul class="ml-menu">
                            <li routerLinkActive="active">
                                <a routerLink="staff-profile">Staff Profile</a>
                            </li>
                        </ul>
                    </li>
                    <li routerLinkActive="active">
                        <a href="#" onClick="return false;" class="menu-toggle">
                           
                            <span>Vehicle Management</span>
                        </a>
                        <ul class="ml-menu">
                            <li routerLinkActive="active">
                                <a routerLink="vehicle">Vehicle</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="driver">Driver</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="vehicle-expenses">Vehicle Expenses</a>
                            </li>
                            <li routerLinkActive="active">
                                <a routerLink="filling-stations">Filling Stations</a>
                            </li>
                        </ul>
                    </li>

                    <li routerLinkActive="active">
                        <a href="" onClick="return false;" class="menu-toggle">

                            <span>Student</span>
                        </a>
                        <ul class="ml-menu">
                            <li routerLinkActive="active">
                                <a routerLink="candidate-enquiry">CandidateEnquiry</a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
        </aside>
        <!-- #END# Left Sidebar -->
    </div>
</div>