<section class="content">
    <div class="container-fluid">
        <!-- Table Start-->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Add Stage</strong>
                        </h2>
                        <div class="header-dropdown m-r--5">
                            <!-- Add button -->
                            <div class="btn-group m-l-15">
                                <button id="addRow" class="btn btn-info" data-toggle="modal" data-target="#addModal">
                                    Add New
                                    <i class="fa fa-plus" style="color: white"></i>
                                </button>
                            </div>
                            <!-- Add button -->
                        </div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="tableExport"
                                class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Stage Name</th>
                                        <th>Bus Stop</th>
                                        <th>KMS</th>
                                        <th>Fees</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let stage of stages; let i=index">
                                        <td>{{i +1 }}</td>
                                        <td>{{stage?.stageName}}</td>
                                        <td>{{stage?.busStop}}</td>
                                        <td>{{stage?.KMS}}</td>
                                        <td>{{stage?.fees}}</td>
                                        <td>
                                            <div class="btn btn-tbl-edit" data-toggle="modal" data-target="#editModal">
                                                <i class="material-icons" (click)="onEdit(stage) ">create</i>
                                            </div>
                                            <div class="btn btn-tbl-delete">
                                                <i class="material-icons" (click)="deleteStage(stage?._id)">delete</i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table End -->
    </div>
</section>
<!-- Add form -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Add Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_advanced_validation1">
                    <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="stageName">Stage Name</label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="stageName"
                                        placeholder="Enter Stage Name" [formControl]="stageName" required />
                                </div>
                            </div>
                        </div>
                    <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="busStop">Bus Stop</label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="busStop" placeholder="Enter Bus Stop"
                                        [formControl]="busStop" required />
                                </div>
                            </div>
                        </div>
                    <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="KMS">KMS</label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="KMS" placeholder="Enter KMS"
                                        [formControl]="KMS" required />
                                </div>
                            </div>
                        </div>
                    <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="fees">Fees</label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="fees" placeholder="Enter fees"
                                        [formControl]="fees" required />
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect" (click)="addstage()">Add</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit Form -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Edit Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_advanced_validation2">
                    <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="stageName">Stage Name</label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="stageName"
                                        placeholder="Enter Stage Name" [formControl]="stageName2" required />
                                </div>
                            </div>
                        </div>

                    <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="busStop">Bus Stop</label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="busStop" placeholder="Enter Bus Stop"
                                        [formControl]="busStop2" required />
                                </div>
                            </div>
                        </div>
                    <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="KMS">KMS</label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="KMS" placeholder="Enter KMS"
                                        [formControl]="KMS2" required />
                                </div>
                            </div>
                        </div>
                    <div class="col-md-6">
                            <div class="form-group form-float">
                                <label for="fees">Fees</label>
                                <div class="form-line">
                                    <input type="text" class="form-control" name="fees" placeholder="Enter fees"
                                        [formControl]="fees2" required />
                                </div>
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect" (click)="updateStageDetails()">Update</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- #END# Edit form Modal -->