<section class="content">
    <div class="container-fluid">
        <!-- Table Start-->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Period</strong>
                        </h2>
                        <br>
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Institution</label>
                                    <select class="browser-default form-control" [formControl]="institution">
                                        <option *ngFor="let institution of institutions" [value]="institution._id">
                                            {{institution.institution_name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="header-dropdown m-r--5">
                            <!-- Add button -->
                            <div class="btn-group m-l-15">
                                <button id="addRow" class="btn btn-info" data-toggle="modal" data-target="#addModal">
                                    Add New
                                    <i class="fa fa-plus" style="color: white"></i>
                                </button>
                            </div>
                            <!-- Add button -->
                        </div>
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table id="tableExport"
                                class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Period Name</th>
                                        <th>From Time</th>
                                        <th>To Time</th>
                                        <th>Period Order</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let period of periods?.response; let i=index">
                                        <td>{{i +1 }}</td>
                                        <td>{{period?.periodName}}</td>
                                        <td>{{period?.fromTime}}</td>
                                        <td>{{period?.toTime}}</td>
                                        <td>{{period?.periodOrder}}</td>
                                        <td>
                                            <div class="btn btn-tbl-edit" data-toggle="modal" data-target="#editModal">
                                                <i class="material-icons" (click)="onEdit(period) ">create</i>
                                            </div>
                                            <div class="btn btn-tbl-delete">
                                                <i class="material-icons"
                                                    (click)="onDelete(period?._id)">delete</i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table End -->
    </div>
</section>
<!-- Add form -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Add Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addForm" (ngSubmit)="onAddSubmit()">
                    <div class="row clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Period Name</label>
                                <input type="text"  formControlName="periodName" class="form-control" placeholder="Enter PeriodName"
                                    [ngClass]="{ 'is-invalid': submitted && f.periodName.errors }" />
                                <div *ngIf="submitted && f.periodName.errors" class="invalid-feedback">
                                    <div *ngIf="f.periodName.errors.required">Period Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>From Time</label>
                                <input type="text"  formControlName="fromTime" class="form-control" placeholder="Enter From Time"
                                    [ngClass]="{ 'is-invalid': submitted && f.fromTime.errors }" />
                                <div *ngIf="submitted && f.fromTime.errors" class="invalid-feedback">
                                    <div *ngIf="f.fromTime.errors.required">From Time is required</div>
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-md-6">
                                <div class="form-group">
                                    <label>Period Order</label>
                                    <input type="number" formControlName="periodOrder" class="form-control" placeholder="Enter PeriodOrder"
                                        [ngClass]="{ 'is-invalid': submitted && f.periodOrder.errors }" />
                                    <div *ngIf="submitted && f.periodOrder.errors" class="invalid-feedback">
                                        <div *ngIf="f.periodOrder.errors.required">Period Order is required</div>
                                    </div>
                                </div>
                            <div class="form-group">
                                <label>To Time</label>
                                <input type="text"  formControlName="toTime" class="form-control" placeholder="Enter To Time"
                                    [ngClass]="{ 'is-invalid': submitted && f.toTime.errors }" />
                                <div *ngIf="submitted && f.toTime.errors" class="invalid-feedback">
                                    <div *ngIf="f.toTime.errors.required">Staff Role is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Add</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit Form -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Edit Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
                        <div class="row clearfix">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Period Name</label>
                                        <input type="text"  formControlName="periodName2" class="form-control" placeholder="Enter PeriodName"
                                            [ngClass]="{ 'is-invalid': submitted && f2.periodName2.errors }" />
                                        <div *ngIf="submitted && f2.periodName2.errors" class="invalid-feedback">
                                            <div *ngIf="f2.periodName2.errors.required">Period Name is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>From Time</label>
                                        <input type="text"  formControlName="fromTime2" class="form-control" placeholder="Enter From Time"
                                            [ngClass]="{ 'is-invalid': submitted && f2.fromTime2.errors }" />
                                        <div *ngIf="submitted && f2.fromTime2.errors" class="invalid-feedback">
                                            <div *ngIf="f2.fromTime2.errors.required">From Time is required</div>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Period Order</label>
                                            <input type="number" formControlName="periodOrder2" class="form-control" placeholder="Enter PeriodOrder"
                                                [ngClass]="{ 'is-invalid': submitted && f2.periodOrder2.errors }" />
                                            <div *ngIf="submitted && f2.periodOrder2.errors" class="invalid-feedback">
                                                <div *ngIf="f2.periodOrder2.errors.required">Period Order is required</div>
                                            </div>
                                        </div>
                                    <div class="form-group">
                                        <label>To Time</label>
                                        <input type="text"  formControlName="toTime2" class="form-control" placeholder="Enter To Time"
                                            [ngClass]="{ 'is-invalid': submitted && f2.toTime2.errors }" />
                                        <div *ngIf="submitted && f2.toTime2.errors" class="invalid-feedback">
                                            <div *ngIf="f2.toTime2.errors.required">Staff Role is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Update</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>