<section class="content">
    <div class="container-fluid">
        <!-- Table Start-->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h1>
                            <strong>Student Profile</strong>
                        </h1>
                    </div>

                    <div class="body">
                        <h4><strong>General Details</strong></h4>
                       
                        <div class="row">
                            <div class="col-md-3" *ngFor="let studentdetail of studentDetails;let i=index">
                                <img src="{{studentdetail?.sPhoto}}" width="100px">
                            </div>
                            <div class="col-md-3" *ngFor="let studentdetail of studentDetails;let i=index">
                                <h6> Campus :</h6> {{studentdetail.institution[0].tagline}}
                                <h6> Date Of Birth :</h6> {{studentdetail?.dob}}
                                <h6> Date Of Joining :</h6> {{studentdetail?.dob}}
                                <h6> Nationality:</h6> {{studentdetail?.nationality[0].nationality}}
                                <h6> Mobile No. :</h6> {{studentdetail?.mobileNo}}
                            </div>
                            <div class="col-md-3">
                                <div *ngFor="let studentdetail of studentDetails">
                                    <h6>Grade :</h6>
                                    <h6>Gender :</h6>{{studentdetail?.gender[0].gender}}
                                    <h6>Boarding :</h6>
                                    <h6>AdmissionCategory :</h6>
                                    <h6>EmailId :</h6>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h6 *ngFor="let studentdetail of studentDetails">Reg No. :</h6>{{studentdetail?.regNo}}
                                <h6>Blood Group :</h6>
                                <h6>Route Name :</h6>
                                <h6>AdmissionCategory :</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    <strong>Family Details</strong>
                                </h2>
                            </div>
                
                            <div class="body">
                                    <div class="row">
                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-danger waves-effect"
                                                    routerLink="/studentProfile">Back</button>
                                            </div>
                                            <div class="col-md-1">
                                                <button type="button" class="btn btn-info waves-effect" data-toggle="modal"
                                                    data-target="#editModal" (click)="onEdit()">Edit</button>
                                            </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Tabs Start-->
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation">
                                        <a href="#contact_with_icon_title" data-toggle="tab" class="active show">
                                            <i class="material-icons">contacts</i> Contact
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#identity_with_icon_title" data-toggle="tab">
                                            <i class="material-icons">face</i> Identity
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#medicalInfo_with_icon_title" data-toggle="tab">
                                            <i class="material-icons">add_box</i>MedicalInformation
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#qualification_with_icon_title" data-toggle="tab">
                                            <i class="material-icons">school</i>Qualification
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#certification_with_icon_title" data-toggle="tab">
                                            <i class="material-icons">star</i> Cerification
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#others_with_icon_title" data-toggle="tab">
                                            <i class="material-icons">info_outline</i>Others
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#guardian_with_icon_title" data-toggle="tab">
                                            <i class="material-icons">work</i> Guardian
                                        </a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#extraCurricular_with_icon_title" data-toggle="tab">
                                            <i class="material-icons">event</i>Extra Curricular
                                        </a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade in active show"
                                        id="contact_with_icon_title">
                                        <div class="header">
                                            <h2>
                                                <strong>Contact Details</strong>
                                            </h2>
                                            <div class="header-dropdown m-r--5">
                                                <!-- Add button -->
                                                <div class="btn-group m-l-15">
                                                    <button id="addRow" class="btn btn-info" data-toggle="modal"
                                                        data-target="#addcontactModal">
                                                        Add New
                                                        <i class="fa fa-plus" style="color: white"></i>
                                                    </button>
                                                </div>
                                                <!-- Add button -->
                                            </div>
                                        </div>
                                        <div class="body">
                                            <div class="table-responsive">
                                                <table id="tableExport"
                                                    class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No</th>
                                                            <th>Address Type</th>
                                                            <th>Address1</th>
                                                            <th>Address2</th>
                                                            <th>City</th>
                                                            <th>District</th>
                                                            <th>State</th>
                                                            <th>Country</th>
                                                            <th>Pin</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let studentcontact of studentContacts; let i=index">
                                                            <td>{{i +1 }}</td>
                                                            <td>{{studentcontact.addressType[0].addressType}}</td>
                                                            <td>{{studentcontact?.address1}}</td>
                                                            <td>{{studentcontact?.address2}}</td>
                                                            <td>{{studentcontact?.city}}</td>
                                                            <td>{{studentcontact?.district}}</td>
                                                            <td>{{studentcontact?.state}}</td>
                                                            <td>{{studentcontact?.country}}</td>
                                                            <td>{{studentcontact?.pin}}</td>
                                                            <td>
                                                                <div class="btn btn-tbl-edit" data-toggle="modal"
                                                                    data-target="#editcontactModal">
                                                                    <i class="material-icons"
                                                                        (click)="onEditContact(studentcontact?._id) ">create</i>
                                                                </div>
                                                                <div class="btn btn-tbl-delete">
                                                                    <i class="material-icons"
                                                                        (click)="deleteStaffContact(studentcontact?._id)">delete</i>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="identity_with_icon_title">
                                        <div class="header">
                                            <h2>
                                                <strong>Identity Details</strong>
                                            </h2>
                                            <div class="header-dropdown m-r--5">
                                                <!-- Add button -->
                                                <div class="btn-group m-l-15">
                                                    <button id="addRow" class="btn btn-info" data-toggle="modal"
                                                        data-target="#addidentityModal">
                                                        Add New
                                                        <i class="fa fa-plus" style="color: white"></i>
                                                    </button>
                                                </div>
                                                <!-- Add button -->
                                            </div>
                                        </div>
                                        <div class="body">
                                            <div class="table-responsive">
                                                <table id="tableExport"
                                                    class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No</th>
                                                            <th>Identity Type</th>
                                                            <th>Identity Value</th>
                                                            <th>Issue Authority</th>
                                                            <th>Valid From</th>
                                                            <th>Valid To</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let staffidentity of staffidentities; let i=index">
                                                            <td>{{i +1 }}</td>
                                                            <td>{{staffidentity?.identityType}}</td>
                                                            <td>{{staffidentity?.identityValue}}</td>
                                                            <td>{{staffidentity?.issueAuthority}}</td>
                                                            <td>{{staffidentity?.validFrom}}</td>
                                                            <td>{{staffidentity?.validTo}}</td>
                                                            <td>
                                                                <div class="btn btn-tbl-edit" data-toggle="modal"
                                                                    data-target="#editidentityModal">
                                                                    <i class="material-icons"
                                                                        (click)="onEditIdentity(staffidentity?._id) ">create</i>
                                                                </div>
                                                                <div class="btn btn-tbl-delete">
                                                                    <i class="material-icons"
                                                                        (click)="deleteStaffIdentity(staffidentity?._id)">delete</i>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="workProfile_with_icon_title">
                                        <div class="header">
                                            <h2>
                                                <strong>Institute Identical Details</strong>
                                            </h2>
                                            <div class="header-dropdown m-r--5">
                                                <!-- Add button -->
                                                <div class="btn-group m-l-15">
                                                    <button id="addRow1" class="btn btn-info" data-toggle="modal"
                                                        data-target="#editworkprofileModal" (click)="onEditWorkProfile(staffprofile)">Edit</button>
                                                </div>
                                                <!-- Add button -->
                                            </div>
                                        </div>
                                        <br>
                                        <div class="body" *ngFor="let staffprofile of staffprofiles; let i=index">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <h6> Code :</h6> {{staffprofile?.staffCode}}
                                                </div>
                                                <div class="col-md-2">
                                                    <h6> Staff Type :</h6>
                                                    {{staffprofile.StaffTypeDetails[0].stafftype}}
                                                </div>
                                                <div class="col-md-2">
                                                    <h6> Employee Code :</h6> {{staffprofile?.employeeCode}}
                                                </div>
                                                <div class="col-md-2">
                                                    <h6> Designation :</h6> {{staffprofile?.designation}}
                                                </div>
                                                <div class="col-md-2">
                                                    <h6> Staff Role :</h6>
                                                    {{staffprofile.StaffRoleDetails[0].staffrole}}
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div class="col-md-2">
                                                    <h6> Abbrevation :</h6> {{staffprofile?.abbrevation}}
                                                </div>
                                                <div class="col-md-2">
                                                    <h6>Date of Joining :</h6> {{staffprofile?.doj}}
                                                </div>
                                                <div class="col-md-2">
                                                    <h6> Date of Relieving :</h6> {{staffprofile?.dor}}
                                                </div>
                                                <div class="col-md-2">
                                                    <h6> Reason :</h6> {{staffprofile?.reason}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="professionalProfile_with_icon_title">
                                        <h4>Professional Profile Details</h4>
                                        <div>
                                        <div class="header">
                                            <h5>Experience</h5>
                                            <div class="header-dropdown m-r--5">
                                                <!-- Add button -->
                                                <div class="btn-group m-l-15">
                                                    <button id="addRow" class="btn btn-info" data-toggle="modal"
                                                        data-target="#addExperienceModal">
                                                        Add New
                                                        <i class="fa fa-plus" style="color: white"></i>
                                                    </button>
                                                </div>
                                                <!-- Add button -->
                                            </div>
                                        </div>
                                        <div class="body">
                                            <div class="table-responsive">
                                                <table id="tableExport"
                                                    class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                                    <thead>
                                                        <tr>
                                                            <th>S.No</th>
                                                            <th>Organization</th>
                                                            <th>Designation</th>
                                                            <th>Nature Of Experience</th>
                                                            <th>Place</th>
                                                            <th>From Date</th>
                                                            <th>To Date</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let experience of experiences; let i=index">
                                                            <td>{{i +1 }}</td>
                                                            <td>{{experience?.organization}}</td>
                                                            <td>{{experience?.expDesignation}}</td>
                                                            <td>{{experience?.natureOfExperience}}</td>
                                                            <td>{{experience?.place}}</td>
                                                            <td>{{experience?.fromDate}}</td>
                                                            <td>{{experience?.toDate}}</td>

                                                            <td>
                                                                <div class="btn btn-tbl-edit" data-toggle="modal"
                                                                    data-target="#editExperienceModal">
                                                                    <i class="material-icons"
                                                                        (click)="onEditExperience(experience?._id) ">create</i>
                                                                </div>
                                                                <div class="btn btn-tbl-delete">
                                                                    <i class="material-icons"
                                                                        (click)="deleteStaffExperience(experience?._id)">delete</i>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                            <div class="header">
                                                <h5> Education</h5>
                                                <div class="header-dropdown m-r--5">
                                                    <!-- Add button -->
                                                    <div class="btn-group m-l-15">
                                                        <button id="addRow" class="btn btn-info" data-toggle="modal"
                                                            data-target="#addEducationModal">
                                                            Add New
                                                            <i class="fa fa-plus" style="color: white"></i>
                                                        </button>
                                                    </div>
                                                    <!-- Add button -->
                                                </div>
                                            </div>
                                            <div class="body">
                                                <div class="table-responsive">
                                                    <table id="tableExport"
                                                        class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                                        <thead>
                                                            <tr>
                                                                <th>S.No</th>
                                                                <th>Degree</th>
                                                                <th>Specialization</th>
                                                                <th>Institution Type</th>
                                                                <th>Institution Name</th>
                                                                <th>Year Of Passing</th>
                                                                <th>Mode Of Study</th>
                                                                <th>Percentage/Grade</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let education of educations; let i=index">
                                                                <td>{{i +1 }}</td>
                                                                <td>{{education?.degree}}</td>
                                                                <td>{{education?.specialization}}</td>
                                                                <td>{{education?.institutionType}}</td>
                                                                <td>{{education?.institutionName}}</td>
                                                                <td>{{education?.eyop}}</td>
                                                                <td>{{education?.modeOfStudy}}</td>
                                                                <td>{{education?.epercentage}}</td>
                                                                <td>
                                                                    <div class="btn btn-tbl-edit" data-toggle="modal"
                                                                        data-target="#editEducationModal">
                                                                        <i class="material-icons"
                                                                            (click)="onEditEducation(education?._id) ">create</i>
                                                                    </div>
                                                                    <div class="btn btn-tbl-delete">
                                                                        <i class="material-icons"
                                                                            (click)="deleteStaffEducation(education?._id)">delete</i>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                                <div class="header">
                                                    <h5> Additional Courses</h5>
                                                    <div class="header-dropdown m-r--5">
                                                        <!-- Add button -->
                                                        <div class="btn-group m-l-15">
                                                            <button id="addRow" class="btn btn-info" data-toggle="modal"
                                                                data-target="#addCourseModal">
                                                                Add New
                                                                <i class="fa fa-plus" style="color: white"></i>
                                                            </button>
                                                        </div>
                                                        <!-- Add button -->
                                                    </div>
                                                </div>
                                                <div class="body">
                                                    <div class="table-responsive">
                                                        <table id="tableExport"
                                                            class="display table table-hover table-checkable order-column m-t-20 width-per-100">
                                                            <thead>
                                                                <tr>
                                                                    <th>S.No</th>
                                                                    <th>Course Type</th>
                                                                    <th>Institution Type</th>
                                                                    <th>Institution Name</th>
                                                                    <th>Mode Of Course</th>
                                                                    <th>Duration Of Course</th>
                                                                    <th>UOM</th>
                                                                    <th>Year Of Passing</th>
                                                                    <th>Percentage/Grade</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let course of courses; let i=index">
                                                                    <td>{{i +1 }}</td>
                                                                    <td>{{course?.courseType}}</td>
                                                                    <td>{{course?.cInstitutionType}}</td>
                                                                    <td>{{course?.cInstitutionName}}</td>
                                                                    <td>{{course?.modeOfCourse}}</td>
                                                                    <td>{{course?.durationOfCourse}}</td>
                                                                    <td>{{course?.uom}}</td>
                                                                    <td>{{course?.cyop}}</td>
                                                                    <td>{{course?.cpercentage}}</td>
                                                                    <td>
                                                                        <div class="btn btn-tbl-edit" data-toggle="modal"
                                                                            data-target="#editCourseModal">
                                                                            <i class="material-icons"
                                                                                (click)="onEditCourse(course?._id) ">create</i>
                                                                        </div>
                                                                        <div class="btn btn-tbl-delete">
                                                                            <i class="material-icons"
                                                                                (click)="deleteStaffCourse(course?._id)">delete</i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        <div role="tabpanel" class="tab-pane fade"
                                            id="publicationAchievements_with_icon_title">
                                            <b>Publication/Achievements Content</b>

                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="academicProfile_with_icon_title">
                                            <b>Academic Profile Content</b>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tabs End-->
                </div>
            </div>

            <!-- Table End -->
        </div>
</section>

<!-- Add Contact Form-->
<div class="modal fade" id="addcontactModal" tabindex="-1" role="dialog" aria-labelledby="contact1formModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contact1formModal">Add Contact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addContactForm" (ngSubmit)="onAddContact()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address Type</label>
                                <select class="browser-default" id="select" formControlName="addressType"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.addressType.errors }">
                                    <option>Choose your Address Type</option>
                                    <option *ngFor="let addressType of addresstypes?.response"
                                        [value]="addressType._id">{{addressType?.addressType}}</option>
                                </select>
                                <div *ngIf="submitted && f.addressType.errors" class="invalid-feedback">
                                    <div *ngIf="f.addressType.errors.required">Address Type is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address 1</label>
                                <input type="text"  formControlName="address1" class="form-control"
                                    placeholder="Enter Address"
                                    [ngClass]="{ 'is-invalid': submitted && f.address1.errors }" />
                                <div *ngIf="submitted && f.address1.errors" class="invalid-feedback">
                                    <div *ngIf="f.address1.errors.required">Address is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address 2</label>
                                <input type="text"  formControlName="address2" class="form-control"
                                    placeholder="Enter Address"
                                    [ngClass]="{ 'is-invalid': submitted && f.address2.errors }" />
                                <div *ngIf="submitted && f.address2.errors" class="invalid-feedback">
                                    <div *ngIf="f.address2.errors.required">Address is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text"  formControlName="city" class="form-control"
                                    placeholder="Enter City" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" />
                                <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                    <div *ngIf="f.city.errors.required">City is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Taluk</label>
                                    <input type="text"  formControlName="taluk" class="form-control"
                                        placeholder="Enter Taluk"
                                        [ngClass]="{ 'is-invalid': submitted && f.taluk.errors }" />
                                    <div *ngIf="submitted && f.taluk.errors" class="invalid-feedback">
                                        <div *ngIf="f.taluk.errors.required">Taluk is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Village Name</label>
                                    <input type="text"  formControlName="villageName" class="form-control"
                                        placeholder="Enter villageName" [ngClass]="{ 'is-invalid': submitted && f.villageName.errors }" />
                                    <div *ngIf="submitted && f.villageName.errors" class="invalid-feedback">
                                        <div *ngIf="f.villageName.errors.required">VillageName is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>District</label>
                                <input type="text"  formControlName="district" class="form-control"
                                    placeholder="Enter District"
                                    [ngClass]="{ 'is-invalid': submitted && f.district.errors }" />
                                <div *ngIf="submitted && f.district.errors" class="invalid-feedback">
                                    <div *ngIf="f.district.errors.required">District is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>State</label>
                                <input type="text"  formControlName="state" class="form-control"
                                    placeholder="Enter State"
                                    [ngClass]="{ 'is-invalid': submitted && f.state.errors }" />
                                <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                    <div *ngIf="f.state.errors.required">State is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text"  formControlName="country" class="form-control"
                                    placeholder="Enter Country"
                                    [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
                                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                    <div *ngIf="f.country.errors.required">Country is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Pin</label>
                                <input type="text"  formControlName="pin" class="form-control"
                                    placeholder="Enter Pin" [ngClass]="{ 'is-invalid': submitted && f.pin.errors }" />
                                <div *ngIf="submitted && f.pin.errors" class="invalid-feedback">
                                    <div *ngIf="f.pin.errors.required">Pin is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Add</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add Contact Form-->
<!-- Edit Contact Form-->
<div class="modal fade" id="editcontactModal" tabindex="-1" role="dialog" aria-labelledby="contact2formModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contact2formModal">Edit Contact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editContactForm" (ngSubmit)="onEditContactSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address Type</label>
                                <select class="browser-default" id="select" formControlName="addressType"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f2.addressType.errors }">
                                    <div *ngIf="submitted && f2.addressType.errors" class="invalid-feedback">
                                        <div *ngIf="f2.addressType.errors.required">Address Type is required</div>
                                    </div>
                                    <option >Choose your Address Type</option>
                                    <option *ngFor="let addressType of addresstypes?.response"
                                        [value]="addressType._id">{{addressType?.addressType}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address 1</label>
                                <input type="text"  formControlName="address1" class="form-control"
                                    placeholder="Enter Address"
                                    [ngClass]="{ 'is-invalid': submitted && f2.address1.errors }" />
                                <div *ngIf="submitted && f2.address1.errors" class="invalid-feedback">
                                    <div *ngIf="f2.address1.errors.required">Address is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address 2</label>
                                <input type="text"  formControlName="address2" class="form-control"
                                    placeholder="Enter Address"
                                    [ngClass]="{ 'is-invalid': submitted && f2.address2.errors }" />
                                <div *ngIf="submitted && f2.address2.errors" class="invalid-feedback">
                                    <div *ngIf="f2.address2.errors.required">Address is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text"  formControlName="city" class="form-control"
                                    placeholder="Enter City"
                                    [ngClass]="{ 'is-invalid': submitted && f2.city.errors }" />
                                <div *ngIf="submitted && f2.city.errors" class="invalid-feedback">
                                    <div *ngIf="f2.city.errors.required">City is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Taluk</label>
                                    <input type="text"  formControlName="taluk" class="form-control"
                                        placeholder="Enter Taluk"
                                        [ngClass]="{ 'is-invalid': submitted && f2.taluk.errors }" />
                                    <div *ngIf="submitted && f2.taluk.errors" class="invalid-feedback">
                                        <div *ngIf="f2.taluk.errors.required">Taluk is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Village Name</label>
                                    <input type="text"  formControlName="villageName" class="form-control"
                                        placeholder="Enter villageName" [ngClass]="{ 'is-invalid': submitted && f2.villageName.errors }" />
                                    <div *ngIf="submitted && f2.villageName.errors" class="invalid-feedback">
                                        <div *ngIf="f2.villageName.errors.required">VillageName is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>District</label>
                                <input type="text"  formControlName="district" class="form-control"
                                    placeholder="Enter District"
                                    [ngClass]="{ 'is-invalid': submitted && f2.district.errors }" />
                                <div *ngIf="submitted && f2.district.errors" class="invalid-feedback">
                                    <div *ngIf="f2.district.errors.required">District is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>State</label>
                                <input type="text"  formControlName="state" class="form-control"
                                    placeholder="Enter State"
                                    [ngClass]="{ 'is-invalid': submitted && f2.state.errors }" />
                                <div *ngIf="submitted && f2.state.errors" class="invalid-feedback">
                                    <div *ngIf="f2.state.errors.required">State is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text"  formControlName="country" class="form-control"
                                    placeholder="Enter Country"
                                    [ngClass]="{ 'is-invalid': submitted && f2.country.errors }" />
                                <div *ngIf="submitted && f2.country.errors" class="invalid-feedback">
                                    <div *ngIf="f2.country.errors.required">Country is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Pin</label>
                                <input type="text"  formControlName="pin" class="form-control"
                                    placeholder="Enter Pin" [ngClass]="{ 'is-invalid': submitted && f2.pin.errors }" />
                                <div *ngIf="submitted && f2.pin.errors" class="invalid-feedback">
                                    <div *ngIf="f2.pin.errors.required">Pin is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Update</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit Contact Form
Add Identity Form
<div class="modal fade" id="addidentityModal" tabindex="-1" role="dialog" aria-labelledby="identity1formModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="identity1formModal">Add Identity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addIdentityForm" (ngSubmit)="onAddIdentity()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Identity Type</label>
                                <input type="text"  formControlName="identityType" class="form-control"
                                    placeholder="Enter Identity Type"
                                    [ngClass]="{ 'is-invalid': submitted && s.identityType.errors }" />
                                <div *ngIf="submitted && s.identityType.errors" class="invalid-feedback">
                                    <div *ngIf="s.identityType.errors.required">Identity Type is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Add</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
 Add Identity Form
 Edit Identity Form
<div class="modal fade" id="editidentityModal" tabindex="-1" role="dialog" aria-labelledby="identity2formModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="identity2formModal">Edit Identity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editIdentityForm" (ngSubmit)="onEditIdentitySubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Identity Type</label>
                                <input type="text"  formControlName="identityType" class="form-control"
                                    placeholder="Enter Identity Type"
                                    [ngClass]="{ 'is-invalid': submitted && s2.identityType.errors }" />
                                <div *ngIf="submitted && s2.identityType.errors" class="invalid-feedback">
                                    <div *ngIf="s2.identityType.errors.required">Identity Type is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default">Update</button>
                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
Edit Identity Form -->

